#footer {
    line-height: 2;
}
#news {
    padding: 10px;
    .news__item {
        display: inline-block;
        margin-right: 10%;
    }
}
#today {
    text-align: right;
    padding: 10px;
    .today__date {
        display: inline-block;
        margin-right: 10px;
    }
}
