// *** base ***
@import 'base/var_mobile';

// *** vendor ***
// bootstrap
@import 'vendor/bootstrap';

// element ui
$--font-path: '~element-theme-chalk/src/fonts';
@import 'vendor/element';

// material icons
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

// *** layout ***
@import 'layout/component';

//-------------- layout
html, body {
    height: 100%;
}
body {
    color: #fff;
    background-color: $gray-900;
}
a {
    &:hover, &:focus {
        color: $primary;
        text-decoration: none;
    }
}
.container-fluid {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}


//-------------- header
.header {
    position: relative;
    background-color: $gray-700;
    .header__title, .header__left, .header__right {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__title {
        width: 100%;
        height: 44px;
    }
    .header__left,
    .header__right {
        position: absolute;
        top: 0;
        width: 90px;
        height: 100%;
    }
    .header__left {
        left: 10px;
        justify-content: flex-start;
    }
    .header__right {
        right: 10px;
        justify-content: flex-end;
    }
}

//-------------- main
.main {
    height: calc(100% - 100px);
    overflow: auto;
}
.el-link [class*="el-icon-"] + span {
    font-size: 12px;
}
.area {
    .area__header {
        text-align: center;
        font-size: 13px;
        color: $--color-text-regular;
        background-color: $gray-600;
        padding: 5px 10px;
        .area__title {
            display: inline-block;
            font-size: 1rem;
            margin-right: 10px;
        }
        .el-checkbox {
            margin-bottom: 0;
        }
    }
    .area__content {
        padding: 12px 10px;
    }
    .area__list {
        list-style: none;
        margin: 0;
        padding: 0;
        li, a {
            display: flex;
            align-items: center;
            font-size: 15px;
            color: #fff;
            border-bottom: 1px solid rgba($white, .04);
            padding: 8px;
            .el-icon-arrow-right {
                border-bottom: 1px solid rgba($white, .04);
                margin: 0 8px 0 auto;
            }
            &:hover, &:focus {
                background-color: rgba($primary, .1);
            }
        }
    }
    .area-data__list {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 13px;
            background: rgba(255, 255, 255, .3);
            + li {
                margin-top: 1px;
            }
        }
        .area-data__title {
            width: 26%;
            text-align: center;
            color: $infor;
            background: rgba(0, 0, 0, .3);
            padding: 16px 10px;
        }
        .area-data__infor {
            padding: 10px;
        }
        .area-data__date {
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 12px;
            color: rgba(255, 255, 255, .3);
        }
    }
    + .el-table {
        margin-top: 1px;
    }
}
.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li, a {
        display: block;
        color: #fff;
        background-color: rgba($white, .04);
        padding: 10px;
        margin: 10px;
        &:hover, &:focus {
            background-color: rgba($primary, .1);
        }
    }
}
.modals {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $gray-900;
}

.el-table {
    background-color: $gray-900;
}
.el-table td {
    padding: 8px 0;
    .el-button {
        background-color: $gray-500;
        padding: 7px 8px;
    }
    .hsbutton {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .el-button + .el-button {
        margin-left: 7px;
    }
}
.el-table td.limit {
    padding: 2px 0;
    .el-input-number {
        margin-right: 40px;
    }
    &.limit__2 {
        .el-input-number {
            margin-right: 10px;
        }
        .el-button {
            position: relative;
            top: 1px;
            padding: 7px 8px;
        }
    }
}
.table-icon {
    vertical-align: bottom;
    .icon-arrow {
        top: 8px;
        margin-right: 3px;
    }
}

.itemDetailTabTotal {
    text-align: center;
    .col {
        height: 30px;
        line-height: 30px;
        font-size: 13px;
    }
    .row + .row {
        border-top: 1px solid $gray-700;
    }
    .progress-bar {
        .el-progress {
            top: 8px;
        }
    }
}

.conditions {
    .conditions__tab {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60px;
        background-color: #000;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            border: 5px solid #000;
        }
        li.current {
            color: #fefe54;
            background-color: #323334;
            border-color: #48494b;
        }
    }
    .conditions__content {
        height: calc(100% - 60px);
    }
}


//-------------- footer tabs
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: #161414;
}
.tabs-list {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    height: 55px;
    .tab-list__item {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        width: 20%;
        font-size: 12px;
        color: $--color-text-placeholder;
        .item__icon {
            font-size: 1.25rem;
        }
        &.current {
            color: $primary;
        }
    }
}

//-------------- element ui
.el-table {
    thead {
        color: $--color-text-placeholder;
    }
    tbody {
        font-size: 15px;
    }
    th {
        background-color: $gray-600;
    }
    tr {
        background-color: $gray-900;
    }
}
.el-table, .el-table--border th, .el-table--border td {
    border-color: $gray-600;
}
.el-table th.is-leaf, .el-table td {
    border-bottom-color: $gray-800;
}
.el-table__fixed::before, .el-table__fixed-right::before,
.el-table--group::after, .el-table--border::after, .el-table::before {
    background-color: $gray-800;
}
.el-table__body tr.hover-row > td, .el-table__body tr.hover-row.current-row > td,
.el-table__body tr.current-row > td {
    background-color: rgba($primary, .2);
}
.el-table th {
    padding: 6px 0;
}
.table {
    width: 100%;
    text-align: center;
}
.progress-table {
    td {
        padding: 0;
        .cell {
            padding: 0;
        }
        &:first-child {
            padding-left: 10px;
            .el-progress-bar__inner {
                left: auto;
                right: 0;
            }
        }
        &:last-child {
            padding-right: 10px;
        }
    }
    .el-progress-bar__outer,
    .el-progress-bar__inner {
        border-radius: 0;
    }
    .el-progress-bar__outer {
        background: transparent;
    }
}

.el-input-number__decrease {
    background-color: $success;
}
.el-input-number__increase {
    background-color: $danger;
}
.el-input-number__increase:hover, .el-input-number__decrease:hover {
    color: #fff;
}

.el-select-dropdown__item {
    color: $gray-900;
}

.el-button--success {
    background-color: $success;
}
.el-button--danger {
    background-color: $danger;
}


//-------------- login
.login {
    .login-wrap {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
    }
    .login-box {
        width: 100%;
        max-width: 300px;
    }
    .el-form-item {
        margin-bottom: 12px;
    }
    .el-form-item__label {
        display: none;
    }
    .el-form-item__content {
        margin-left: 0 !important;
    }
    .el-button {
        width: 100%;
    }
}


#__nuxt {
	display: block;
}