// theme
@import 'theme/mobile';

// vendor
@import 'vendor/bootstrap';
@import 'vendor/element';
@import 'vendor/splitpanes';
@import 'vendor/vxetable';

// material icons
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

// layout
@import 'layout/component';


@mixin element-icons {
	font-family: element-icons!important;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: baseline;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#__nuxt {
  display: block;
}

//-------------- layout
* {
	touch-action: manipulation;
}
.root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
}
.page {
	height: calc(100% - 55px);
}
.main {
	height: calc(100% - 44px);
}


//-------------- header
.header {
    position: relative;
    background-color: #000;
    .header__title, .header__left, .header__right {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__title {
        width: 100%;
        height: 44px;
    }
    .header__left,
    .header__right {
        position: absolute;
        top: 0;
        width: 90px;
        height: 100%;
    }
    .header__left {
        left: 4px;
        justify-content: flex-start;
    }
    .header__right {
        right: 4px;
        justify-content: flex-end;
    }
}

.header-userInfo {
	position: absolute;
	top: 44px;
	right: 0;
	bottom: 55px;
	z-index: 9;
	width: 220px;
	height: 100%;
	background-color: $gray-500;
    transform: translateX(100%);
    transition: transform .3s ease;
	&.isOpen {
		transform: translateX(0);
	}
	.userInfo-list {
		list-style-type: none;
		color: $gray-100;
		padding: 0;
		li {
			padding: 6px 16px;
			+ li {
				border-top: 1px solid $gray-600;
			}
        }
        .label {
            margin-right: 6px;
        }
		.userInfo__button {
			button {
				width: 100%;
			}
		}
	}
}


//-------------- main
.area {
    position: relative;
    overflow: hidden;
    &.h-100 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .area__content {
            width: 80%;
            .el-form-item__label {
                width: 80px;
            }
        }
    }
    .area__header {
        text-align: center;
        color: $--color-text-regular;
        background-color: $gray-600;
        padding: 5px 10px;
        button {
            min-width: 66px;
        }
        .area__title {
            display: inline-block;
            font-size: 1rem;
            margin-right: 10px;
        }
        .small {
            font-size: 13px;
				}
				.checkbox {
					color: #fff;
				}
    }
    .area__content {
        padding: 12px 10px;
    }
    .area-list {
        list-style: none;
        margin: 0;
        padding: 0;
        li, a {
            display: flex;
            align-items: center;
            font-size: 15px;
            color: #fff;
            border-bottom: 1px solid rgba($white, .04);
            padding: 8px 6px 8px 16px;
            .el-icon-arrow-right {
                margin: 0 8px 0 auto;
            }
            &:hover, &:focus {
                background-color: rgba($primary, .1);
            }
        }
    }
    .area-data-list {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            background: rgba($gray-100, .06);
            + li {
                margin-top: 1px;
            }
        }
        .area-data__title {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 26%;
            min-width: 100px;
            text-align: center;
            color: $info;
            background: rgba($gray-900, .6);
            padding: 8px;
            .area-data__date {
                position: absolute;
                top: 50%;
                transform: translateY(58%);
                text-align: center;
                font-size: 12px;
                color: rgba($white, .3);
            }
            &.hasDate {
                position: relative;
                padding-bottom: 10px;
            }
        }
        .area-data__infor {
            padding: 22px 10px;
            .area-data__date {
                position: absolute;
                right: 2px;
                bottom: 2px;
                font-size: 12px;
                color: rgba($white, .3);
            }
        }
    }
    .area-infor__header {
        width: 50%;
        text-align: center;
        background: darken($primary, 10%);
        border-radius: 5px;
        padding: 10px;
        margin: 1rem auto;
    }
    .area-infor-list {
        list-style-type: none;
        width: 80%;
        padding: 0;
        margin: 0 auto;
        li {
            display: flex;
            align-items: center;
            color: $primary;
            background-color: rgba($gray-100, .02);
            padding: 10px 0 10px 10px;
            margin: 10px;
            i {
                color: rgba($gray-100, .1);
                margin: 0 8px 0 0;
            }
            .area-infor__title {
                width: 80px;
                color: #fff;
            }
        }
    }
    .area-switch-list {
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        li {
            font-size: 15px;
            color: #fff;
            padding: 12px;
        }
        .area-switch__title {
            padding: 0 0 6px 12px;
        }
        .area-switch__label {
            margin: 0 auto 0 0;
        }
        .area-switch__content {
            display: flex;
            justify-content: center;
            background-color: rgba($gray-100, .02);
            padding: 10px;
        }
    }
    .area-select-list {
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        li {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            background: rgba($gray-100, .06);
            + li {
                margin-top: 1px;
            }
            label {
                width: 100%;
                text-align: center;
                padding: 8px;
            }
        }
    }
    .area-analysis-list {
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-flow: wrap;
        li {
            display: flex;
            justify-content: space-evenly;
            flex: 1 0 33.33%;
            text-align: center;
            padding: 6px;
            span {
                width: 60%;
            }
            .label {
                display: inline-block;
                width: 40%;
            }
        }
    }
    + table {
        margin-top: 1px;
    }
}
.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li, a {
        display: flex;
        align-items: center;
        color: #fff;
				background-color: $gray-700;
				border-radius: 3px;
        padding: 10px 0 10px 42px;
        margin: 10px;
        .el-icon-arrow-right {
            margin: 0 8px 0 auto;
        }
        &:hover, &:focus {
            background-color: rgba($primary, .1);
        }
        .icon {
            position: absolute;
            left: 20px;
            color: rgba(#fff, .8);
        }
    }
}
.nav-button {
    text-align: center;
    margin: 2rem;
    .logout {
        width: 80%;
    }
}
.modals {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: $gray-900;
}

.HistoryPrices {
	.el-form {
		.el-form-item__label {
			text-align: left;
		}
		.el-form-item__content {
			width: 100%;
			.el-select, .el-input {
				width: 100%;
			}
		}
	}
	.el-divider {
		color: #fff;
	}
}

.mainItem {
	.vxe-body--column {
		position: relative;
	}
	.bg__danger, .bg__success {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.border__danger, .border__success {
		position: absolute;
		top: -1px;
		left: 0;
		right: -1px;
		bottom: -1px;
		display: flex;
		align-items: center;
		border: 1px solid transparent;
		background-color: rgba($primary, .08);
		padding: 0 10px 0 9px;
	}
}
.vxe-header--column .vxe-cell {
    font-weight: normal;
    color: rgba($gray-100, .4);
}


.itemDetail__Total {
	.row {
		padding: 4px;
		&:nth-child(1) {
			background-color: $gray-600;
		}
		&:nth-child(2) {
			background-color: $gray-700;
		}
	}
}
.progress-bar.progress-bar__total {
  background-color: $success;
  .progress-bar__inner {
    background-color: $danger;

  }
}

.changPassword {
	.el-form-item__content {
		width: 100%;
		button {
			width: 100%;
			padding: 10px;
		}
	}
	.rules-list {
		list-style: none;
		padding: 10px;
	}
}


//-------------- footer tabs
#tabs-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: $gray-990;
}
.tabs-list {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    height: 55px;
    .tab-list__item {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        width: 20%;
        font-size: 12px;
        color: $--color-text-placeholder;
        .item__icon {
            font-size: 1.25rem;
        }
        &.current {
            color: $primary;
        }
    }
}


//-------------- login
.login {
    background: url('~static/images/theme_traditional/login_bg_mobile.jpg');
    .logo {
        width: 40%;
        background: url('~static/images/theme_traditional/logo.png') center/contain no-repeat;
        padding-top: 8rem;
        margin: 2rem auto;
    }
	.login-wrap {
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		padding-bottom: 10rem;
	}
	.login-box {
		width: 100%;
		max-width: 300px;
	}

	.el-form {
		.el-form-item {
			width: 100%;
			margin-bottom: 16px;
		}
		.el-form-item__label {
			display: none;
		}
		.el-form-item__content {
			width: 100%;
				margin-left: 0 !important;
		}
		.el-input__inner {
			color: #fff;
			background-color: $gray-800;
			border-color: $gray-700;
		}
		.el-button {
			width: 100%;
			padding: 12px;
		}
		.el-checkbox {
			margin-left: 4px;
		}
	}
}


// element ui
.el-dialog__header {
	color: #fff;
	background-color: $gray-500;
}
.el-dialog__body {
	padding: 10px;
}
.el-message-box {
	width: 60%;
}


// component
button {
	border-radius: 5px;
}
.table {
	width: 100%;
	background: $table-bg-color;
	th, td {
		padding: 6px 0;
		border: {
			right: 1px solid $table-border-color;
			bottom: 1px solid $table-border-color;
		}
	}
	thead {
		background: $table-header-bg-color;
		th .cell {
            font-weight: normal;
            color: rgba(206, 211, 219, 0.4);
			padding: $table-header-cell-padding;
		}
	}
	tbody {
		td .cell {
			padding: $table-cell-padding;
		}
	}
	td.limit {
    padding: 2px 0;
    .el-input-number {
			margin-right: 46px;
    }
    &.limit__2 {
			.el-input-number {
				margin-right: 6px;
			}
			button {
				position: relative;
				top: 1px;
				padding: 11px;
			}
    }
	}
}


.select {
	position: relative;
	height: 40px;
	background: $gray-700;
	border-radius: 5px;
	&:before {
		content: "\e6df";
		position: absolute;
		right: 6px;
		top: 50%;
    transform: translateY(-50%);
		color: #fff;
		@include element-icons;
		pointer-events: none;
	}
	select {
		-webkit-appearance: none;
		color: #fff;
		height: 100%;
		padding: 0 26px 0 10px;
		background: transparent;
		border-color: transparent;
	}
}
.header-select {
	height: 76%;
}
.header-button {
	position: relative;
	height: 76%;
	background: $gray-700;
	border-color: transparent;
	border-radius: 5px;
}

.el-loading-mask {
	background-color: rgba($gray-900, 0.9);
}


.collapse {
	+ .collapse {
		margin-top: 1px;
	}
	.collapse__header {
		position: relative;
		display: flex;
    align-items: center;
		background-color: $table-header-bg-color;
		padding: 10px;
		&:before {
			content: "\e6df";
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			@include element-icons;
			pointer-events: none;
		}
	}
	.collapse__list {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			color: #fff;
			background-color: rgba(206, 211, 219, 0.02);
			padding: 6px 10px;
			+ li {
				border-top: 1px solid rgba($gray-100, .1);
			}
		}
	}
}



// .swiper-container {
//     height: 100%;
// }
.swiper-pagination-bullet {
    background: #fff;
    &.swiper-pagination-bullet-active {
        background: $primary;
    }
}
.swiper-pagination {
    position: fixed;
    bottom: 4rem !important;
}