// theme
@import 'theme/mobile';

// vendor
@import 'vendor/bootstrap';
@import 'vendor/element';
@import 'vendor/splitpanes';

// material icons
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

// layout
@import 'layout/component';

*, *:focus {
    outline: 0;
}
@mixin element-icons {
	font-family: element-icons!important;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: baseline;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#__nuxt {
  display: block;
}

.self-item-color {
  text-decoration: underline;
}

//-------------- layout
* {
	touch-action: manipulation;
}
.root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
}
.page {
	height: calc(100% - 55px);
}
.main {
	height: calc(100% - 44px);
}


//-------------- header
.header {
    position: relative;
    background-color: #000;
    .header__title, .header__left, .header__right {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__title {
        width: 100%;
        height: 44px;
    }
    .header__left,
    .header__right {
        position: absolute;
        top: 0;
        width: 90px;
        height: 100%;
    }
    .header__left {
        left: 4px;
        justify-content: flex-start;
    }
    .header__right {
        right: 4px;
        justify-content: flex-end;
    }
}

.header-userInfo {
	position: absolute;
	top: 44px;
	right: 0;
	bottom: 55px;
	z-index: 9;
	width: 220px;
	height: 100%;
	background-color: $gray-500;
    transform: translateX(100%);
    transition: transform .3s ease;
	&.isOpen {
		transform: translateX(0);
	}
	.userInfo-list {
		list-style-type: none;
		color: $gray-100;
		padding: 0;
		li {
			padding: 6px 16px;
			+ li {
				border-top: 1px solid $gray-600;
			}
        }
        .label {
            margin-right: 6px;
        }
		.userInfo__button {
			button {
				width: 100%;
			}
		}
	}
}


//-------------- main
.area {
    position: relative;
    overflow: hidden;
    &.h-100 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .area__content {
            width: 80%;
            .el-form-item__label {
                width: 80px;
            }
        }
    }
    .area__header {
        text-align: center;
        color: $--color-text-regular;
        background-color: $gray-600;
        padding: 5px 10px;
        button {
            min-width: 66px;
        }
        .area__title {
            display: inline-block;
            font-size: 1rem;
            margin-right: 10px;
        }
        .small {
            font-size: 13px;
				}
				.checkbox {
					color: #fff;
				}
    }
    .area__content {
        padding: 12px 10px;
    }
    .area-list {
        list-style: none;
        margin: 0;
        padding: 0;
        li, a {
            display: flex;
            align-items: center;
            font-size: 15px;
            color: #fff;
            border-bottom: 1px solid rgba($white, .04);
            padding: 8px 6px 8px 16px;
            .el-icon-arrow-right {
                margin: 0 8px 0 auto;
            }
            &:hover, &:focus {
                background-color: rgba($primary, .1);
            }
        }
    }
    .area-data-list {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            background: rgba($gray-100, .06);
            + li {
                margin-top: 1px;
            }
        }
        .area-data__title {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 26%;
            min-width: 100px;
            text-align: center;
            color: $info;
            background: rgba($gray-900, .6);
            padding: 8px;
            .area-data__date {
                position: absolute;
                top: 50%;
                transform: translateY(58%);
                text-align: center;
                font-size: 12px;
                color: rgba($white, .3);
            }
            &.hasDate {
                position: relative;
                padding-bottom: 10px;
            }
        }
        .area-data__infor {
            padding: 22px 10px;
            .area-data__date {
                position: absolute;
                right: 2px;
                bottom: 2px;
                font-size: 12px;
                color: rgba($white, .3);
            }
        }
    }
    .area-infor__header {
        width: 50%;
        text-align: center;
        background: darken($primary, 10%);
        border-radius: 5px;
        padding: 10px;
        margin: 1rem auto;
    }
    .area-infor-list {
        list-style-type: none;
        width: 86%;
        padding: 0;
        margin: 0 auto;
        li {
            display: flex;
            align-items: center;
            color: $primary;
            background-color: rgba($gray-100, .02);
            padding: 10px 0 10px 10px;
            margin: 10px;
            i {
                color: rgba($gray-100, .8);
                margin: 0 8px 0 0;
            }
            .area-infor__title {
                width: 130px;
                color: #fff;
            }
        }
    }
    .area-switch-list {
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        li {
            font-size: 15px;
            color: #fff;
            padding: 12px;
        }
        .area-switch__title {
            padding: 0 0 6px 12px;
        }
        .area-switch__label {
            margin: 0 auto 0 0;
        }
        .area-switch__content {
            display: flex;
            justify-content: center;
            background-color: rgba($gray-100, .02);
            padding: 10px;
        }
    }
    .area-select-list {
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        li {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            background: rgba($gray-100, .06);
            + li {
                margin-top: 1px;
            }
            label {
                width: 100%;
                text-align: center;
                padding: 8px;
            }
        }
    }
    .area-analysis-list {
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-flow: wrap;
        li {
            display: flex;
            justify-content: space-evenly;
            flex: 1 0 33.33%;
            text-align: center;
            padding: 6px;
            span {
                width: 60%;
            }
            .label {
                display: inline-block;
                width: 40%;
            }
        }
    }
    + table {
        margin-top: 1px;
    }
}
.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li, a {
        display: flex;
        align-items: center;
        color: #fff;
				background-color: $gray-700;
				border-radius: 3px;
        padding: 10px 0 10px 42px;
        margin: 10px;
        .el-icon-arrow-right {
            margin: 0 8px 0 auto;
        }
        &:hover, &:focus {
            background-color: rgba($primary, .1);
        }
        .icon {
            position: absolute;
            left: 20px;
            color: rgba(#fff, .8);
        }
    }
}
.nav-button {
    text-align: center;
    margin: 2rem;
    .logout {
        width: 80%;
    }
}
.modals {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: $gray-900;
}

.HistoryPrices {
	.el-form {
		.el-form-item__label {
			text-align: left;
		}
		.el-form-item__content {
			width: 100%;
			.el-select, .el-input {
				width: 100%;
			}
		}
	}
	.el-divider {
		color: #fff;
	}
}

.mainItem {
	.vxe-body--column {
		position: relative;
	}
	.bg__danger, .bg__success {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.border__danger, .border__success {
		position: absolute;
		top: -1px;
		left: 0;
		right: -1px;
		bottom: -1px;
		display: flex;
		align-items: center;
		border: 1px solid transparent;
		background-color: rgba($primary, .08);
		padding: 0 10px 0 9px;
	}
}
.vxe-header--column .vxe-cell {
    font-weight: normal;
    color: rgba($gray-100, .4);
}
.moreSelect {
    position: fixed;
    left: 50%;
    bottom: 60px;
    z-index: 990;
    transform: translateX(-50%);
    width: 80%;
    background-color: $gray-400;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        text-align: center;
        padding: 10px;
        + li {
            border-top: 1px solid $gray-500;
        }
        &.close {
            background-color: $gray-200;
        }
    }
}


.itemDetail__Total {
	.row {
		padding: 4px;
		&:nth-child(1) {
			background-color: $gray-600;
		}
		&:nth-child(2) {
			background-color: $gray-700;
		}
	}
}
.progress-bar.progress-bar__total {
    background-color: $success;
    .progress-bar__inner {
        background-color: $danger;
    }
}

.changPassword {
	.el-form-item__content {
		width: 100%;
		button {
			width: 100%;
			padding: 10px;
		}
	}
	.rules-list {
		list-style: none;
		padding: 10px;
	}
}


//-------------- footer tabs
#tabs-nav {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background-color: $gray-990;
}
.tabs-list {
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	height: 55px;
	.tab-list__item {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
		width: 20%;
		font-size: 12px;
		color: $--color-text-placeholder;
		.item__icon {
			font-size: 1.25rem;
		}
		&.current {
			color: $primary;
		}
	}
}



.chat {
	position: relative;
	width: 100%;
	height: 100%;
  line-height: 1.64;
	.no-service {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
	.chat-area {
		height: calc(100% - 40px);
		padding: 10px;
		overflow-y: scroll;
    ul {
			list-style-type: none;
			padding: 0;
		}
    span {
      color: #9e9e9e;
    }
  }
  .from-service {
    color: #ff4a4a;
  }
  .message-list {
    margin-bottom: 6px;
  }
	.chat-input-wrap {
		position: absolute;
		left: 0;
    bottom: 0;
		width: 100%;
		height: 40px;
		.chat-input {
			width: 100%;
			height: 100%;
			line-height: 2.6;
			color: #fff;
			background-color: rgba(255, 255, 255, .2);
      padding: 0 10px;
      border: 0;
      &:focus {
        outline: 0;
      }
		}
		.button {
			position: absolute;
			right: 0;
			top: 0;
			height: 40px;
			color: #fff;
			background-color: #26282e;
			border-radius: 0;
		}
	}
}


//-------------- login
.login {
    background: url('~static/images/theme_traditional/login_bg_mobile.png');
    .login__header {
        width: 100%;
        margin: auto;
        margin-bottom: 1rem;
    }
    .logo {
        width: 80%;
        background: url('~static/images/theme_traditional/logo.png') center/contain no-repeat;
        padding-top: 8rem;
        margin: auto;
    }
    .title1 {
        width: 100%;
        background: url('~static/images/theme_traditional/title1_mobile.png') center/contain no-repeat;
        padding-top: 3rem;
        margin: 1rem auto;
    }
    .title2 {
        width: 40%;
        background: url('~static/images/theme_traditional/title2_mobile.png') center/contain no-repeat;
        padding-top: 3rem;
        margin: auto;
    }
	.login-wrap {
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		padding-bottom: 2vh;
	}
	.login-box {
		width: 100%;
		max-width: 300px;
	}
	.el-form {
		.el-form-item {
			width: 100%;
			margin-bottom: 16px;
		}
		.el-form-item__label {
			display: none;
		}
		.el-form-item__content {
			width: 100%;
				margin-left: 0 !important;
		}
		.el-input__inner {
			color: #fff;
			// background-color: $gray-800;
            // border-color: $gray-700;
            background-color: #1a1d21;
            border-color: #1b1d22;
            box-shadow: inset 0 0 5px #000;
		}
		.el-button {
			width: 100%;
			padding: 12px;
		}
		.el-checkbox {
			margin-left: 4px;
		}
	}
}
.DarkHorse.login {
    .logo {
        width: 60%;
        background: url('~static/images/theme_DarkHorse/logo.png') center/contain no-repeat;
    }
}


// element ui
.el-dialog__header {
	color: #fff;
	background-color: $gray-500;
}
.el-dialog__body {
	padding: 10px;
}
.el-message-box {
	width: 70%;
}
.vxe-header--column .vxe-cell {
	color: rgba(206, 211, 219, 0.9);
}


// component
button {
	border-radius: 5px;
}
.number-input {
    display: inline-flex;
    input {
        width: 110px;
        color: #fff;
        background-color: $gray-800;
        border: 0;
        padding: 0 6px;
    }
    button {
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        &:after {
            content: '';
            display: block;
            width: 20px;
            height: 5px;
            background-color: #fff;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        &.button__increase {
            background: linear-gradient(180deg,#eb8e89,#e6675a);
            border: 1px solid #e68e8a;
            &:before {
                content: '';
                display: block;
                width: 5px;
                height: 20px;
                background-color: #fff;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &.button__decrease {
            background: linear-gradient(180deg,#cff7b7,#6bc36d);
            border: 1px solid #c1f1b1;
        }
    }
}
.table {
	width: 100%;
	background: $table-bg-color;
	th, td {
		border: {
			right: 1px solid $table-border-color;
			bottom: 1px solid $table-border-color;
		}
	}
	thead {
		background: $table-header-bg-color;
		th .cell {
            font-weight: normal;
            color: rgba(206, 211, 219, 0.9);
			padding: $table-header-cell-padding;
		}
	}
	tbody {
		td .cell {
			padding: $table-cell-padding;
		}
	}
	td.limit {
    padding: 2px 0;
    .el-input-number {
			margin-right: 46px;
    }
    &.limit__2 {
            padding-left: 10px;
			.number-button-group {
				margin-right: 3px;
			}
			button {
				position: relative;
				top: 1px;
				padding: 11px;
			}
        }
	}
}


.select {
	position: relative;
	height: 40px;
	background: $gray-700;
	border-radius: 5px;
	&:before {
		content: "\e6df";
		position: absolute;
		right: 6px;
		top: 50%;
    transform: translateY(-50%);
		color: #fff;
		@include element-icons;
		pointer-events: none;
	}
	select {
		-webkit-appearance: none;
		color: #fff;
		height: 100%;
		padding: 0 26px 0 10px;
		background: transparent;
		border-color: transparent;
	}
}
.header-select {
	height: 76%;
}
.header-button {
	position: relative;
    height: 76%;
    color: $gray-100;
	background: $gray-700;
	border-color: transparent;
	border-radius: 5px;
}

.el-loading-mask {
	background-color: rgba($gray-900, 0.9);
}


.collapse {
	+ .collapse {
		margin-top: 1px;
	}
	.collapse__header {
		position: relative;
		display: flex;
		align-items: center;
		color: #fbefc3;
		background-color: $gray-500;
		padding: 10px;
		&:before {
			content: "\e6df";
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			@include element-icons;
			pointer-events: none;
		}
	}
	.collapse__list {
		list-style: none;
		padding: 0;
		margin: 0;
		.label {
			color: #a7e2fb
		}
		li {
			color: #fff;
			background-color: rgba(206, 211, 219, 0.02);
			padding: 6px 10px;
			+ li {
				border-top: 1px solid rgba($gray-100, .1);
			}
		}
	}
}



// .swiper-container {
//     height: 100%;
// }
.swiper-pagination-bullet {
    background: #fff;
    &.swiper-pagination-bullet-active {
        background: $primary;
    }
}
.swiper-pagination {
    position: fixed;
    bottom: 4rem !important;
}

//input
.point-computed {
  width: 80px;
  height: 25px;
}

.badge {
  display: inline-block;
  padding: .3em .4em .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  border-radius: .25rem;
}
.badge-warning {
  color: #212529;
  background-color: #ffc107;
}

.PriceBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  .title {
    font-size: 20px;
    font-weight: bold;
  }
  .change-icon {
    .icon-arrow-up {
      border-color: transparent transparent #fff transparent;
    }
    .icon-arrow-down {
      border-color: #fff transparent transparent transparent;
    }
  }
}
.fistrtitle {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    span {
      padding: 0 2px;
      font-size: 16px;
      color: #000;
      padding: 0 2px;
    }
    .bg__success, .bg__danger {
      color: #fff;
    }
  }
}

.mob__table {
  position: absolute !important;
  width: 100px !important;
  tbody::-webkit-scrollbar {
    display: none;
  }
}

.custom__table {
  width: 100%;
  height: 100%;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  border-collapse: collapse;
  &.general {
    height: 150px;
  }
  &.large {
    height: 400px;
  }
  tr {
    border-left: 1px solid #191b1d;
  }
  thead {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    overflow: visible;
    background-color: #1e2126;
    border-top: 1px solid #191b1d;
    th {
      width: 80px;
      text-align: right;
      line-height: 1.2;
      padding: 6px 10px;
      background-color: #1e2126;
      background-image: linear-gradient(-90deg,#191b1d,#191b1d),linear-gradient(-180deg,#191b1d,#191b1d);
      background-repeat: no-repeat;
      background-size: 1px 100%,100% 1px;
      background-position: 100% 0,100% 100%;
      &:nth-child(1) {
        text-align: left;
        position: relative;
        z-index: 99;
        padding: 6px 2px;
      }
    }
  }
  tbody {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #121315;
    tr {
      display: table;
      width: 100%;
      table-layout: fixed;
      border-left: 1px solid #121315;
      &.current {
        td {
          background-color: #502d2d !important;
        }
      }
      td {
        text-align: right;
        background-image: linear-gradient(-90deg,#191b1d,#191b1d),linear-gradient(-180deg,#191b1d,#191b1d);
        background-repeat: no-repeat;
        background-size: 1px 100%, 100% 1px;
        background-position: right top, right bottom;
        &:nth-child(1) {
          text-align: left;
          background-color: #121315;
          padding: 6px 2px;
        }
      }
    }
    td {
      position: relative;
      width: 80px;
      height: 100%;
      line-height: 1.2;
      padding: 6px 10px;
      &:nth-child(1) {
        position: relative;
        z-index: 99;
      }
    }
  }
  .cell {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2px 4px;
  }
  .border__danger,
  .border__success {
    background-color: rgba(0,123,255,.08);
    border: 0;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid transparent;
  }
}