// *** base ***
@import 'base/variable';

// *** vendor ***
// bootstrap
@import 'vendor/bootstrap';

// element ui
$--font-path: '~element-theme-chalk/src/fonts';
// @import '~element-theme-chalk/src/index.scss';
@import 'vendor/element';

// material icons
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

// animate
@import '~animate-sass/animate';


// *** layout ***
@import 'layout/layout';
@import 'layout/component';
// @import 'layout/login';

// theme
@import 'theme/traditional';

#__nuxt {
	display: block;
}