//- 元氣 theme
@import 'theme/gennki';

@import 'vendor/bootstrap';
@import 'vendor/element';
@import 'vendor/splitpanes';
@import 'vendor/vxetable';

// animate
$base-duration: .3s;
$use-fadeInDown: true;
@import '~animate-sass/animate';

// layout
@import 'layout/component';
@import 'layout/layout';

#__nuxt {
  display: block;
}

@mixin block-broder-right {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    display: block;
    width: 1px;
    background-color: #6285ab;
  }
}

@mixin block-broder-bottom {
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    display: block;
    height: 1px;
    background-color: #6285ab;
  }
}

// root
.gennki {
  .root {
    background-color: #dcebf9;
  }
  .splitpanes.default-theme .splitpanes__splitter {
    background-color: #dcebf9;
  }
  #main {
    height: calc(100% - 84px);
  }
}


//-------------- header
.gennki .header {
  background: url('~static/images/theme_traditional/header_bg.png');
  .navbar {
    border-bottom: 1px solid #a8a8a8;
    padding-top: 2px;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        width: 55px;
        height: 31px;
        line-height: 31px;
        text-align: center;
        color: #fff;
      }
      &:hover {
        .nav-link {
          color: #fff;
        }
      }
    }
    .nav-item-text {
      font-size: 14px;
      color: #004489;
      padding-left: 20px;
    }
  }
  .navbar-nav-left {
    .nav-item {
      background: url('~static/images/theme_traditional/header_left_btn01.png');
      &:hover {
        background: url('~static/images/theme_traditional/header_left_btn01_hover.png');
      }
      &:nth-child(4) {
        background: url('~static/images/theme_traditional/header_left_btn04.png');
        &:hover {
          background: url('~static/images/theme_traditional/header_left_btn04_hover.png');
        }
      }
      &:nth-child(5) {
        height: 31px;
        background: url('~static/images/theme_traditional/header_left_bg02.png') left top no-repeat;
        .navbar-txt {
          line-height: 31px;
        }
      }
    }
  }
  .navbar-nav-right {
    position: relative;
    .nav-item {
      width: 39px;
      overflow: hidden;
      >.nav-link {
        font-size: 0;
      }
      &:first-child {
        background: url('~static/images/theme_traditional/header_right_btn01.png');
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: -27px;
          width: 27px;
          height: 31px;
          background: url('~static/images/theme_traditional/header_right_bg01.png') right top no-repeat;
        }
      }
      &:nth-child(2) {
        background: url('~static/images/theme_traditional/header_right_btn02.png');
        &.isShutdown {
          background: url('~static/images/theme_traditional/header_right_btn02_current.png');
        }
      }
      &:nth-child(3) {
        background: url('~static/images/theme_traditional/header_right_btn03.png');
      }
    }
  }
  .dropdown-menu {
    border: 2px solid #5d668d;
    border-radius: 6px;
    background-color: #fff;
    padding: 1px;
    > .dropdown-item {
      font-size: 12px;
      color: #343a40;
      border: 1px solid #40628a;
      border-radius: 5px;
      background: linear-gradient(180deg, #fff, #c5daef);
      padding: 2px 15px;
      + .dropdown-item {
        margin-top: 1px;
      }
      &.is-active {
        position: relative;
        &:before {
          content: '✓';
          display: inline-block;
          position: absolute;
          left: 3px;
        }
      }
      &:hover {
        text-decoration: none;
        color: #fff;
        background: linear-gradient(180deg, #6793c7, #30588b);
      }
    }
  }
}

// footer
.footer {
  border: 1px solid #104a84;
  background: #295f95;
  background: linear-gradient(to bottom, #5283b6 0%, #295f95 100%);
  a {
    color: #fff;
  }
}

//-------------- userInfo
.userInfo {
  position: relative;
  min-width: 240px;
  border: 1px solid #6285ab;
  @include block-broder-right;
  @include block-broder-bottom;
  .userInfo-header {
    font-size: 16px;
    color: #fff;
    background: url('~static/images/theme_traditional/table_th_bg_big.png') #4278af;
    border-radius: 3px;
    margin: 1px;
  }
  .userInfo-content {
    .vxe-body--column {
      font-size: 15px;
      font-weight: bold;
    }
  }
}

//-------------- itemDetail
.itemDetail {
  min-width: 240px;
  border: 1px solid #6285ab;
  @include block-broder-right;
  .itemDetail-header {
    .header__title {
      font-size: 14px;
      color: #004489;
      button {
        margin: 0 4px;
      }
      .checkbox {
        display: inline-block;
      }
    }
  }
  .itemDetail-tabs {
    .tabs__item {
      color: #204650;
      border-color: #5897bf;
      background: linear-gradient(180deg,#fff,#c5daef);
      border: 1px solid transparent;
      border-top: 1px solid #6285ab;
      &.is-active {
        color: #fff;
        border: 1px solid #37659e;
        background: linear-gradient(180deg,#6793c7,#30588b);
      }
    }
  }
  .itemDetail__TotalTable {
    height: calc(100% - 50px);
  }
  .itemDetail__Total {
    height: 50px;
    .row:first-child {
      height: 24px;
      color: #fff;
      background: url('~static/images/theme_traditional/table_th_bg.png') #4278af;
    }
  }
}

//-------------- mainItem
.mainItem {
  position: relative;
  border: 1px solid #6285ab;
  @include block-broder-bottom;
  table td{
    &:nth-child(-n+15):nth-child(n+5) {
      font-weight: bold;
    }
  }
  .border__danger, .border__success {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, .08);
    padding: 2px 4px;
  }
}

//-------------- history
.history {
  position: relative;
  border: 1px solid #6285ab;
  background-color: #f1f1f1;
  @include block-broder-bottom;
  .tabs-nav {
		padding: 5px 10px 0;
		border-bottom: 1px solid #6285ab;
    @for $i from 1 through 7 {
      #tab-item#{$i} {
        z-index: 10 - $i;
      }
    }
    .tabs__item {
      position: relative;
      line-height: 24px;
      color: #000;
      font-size: 12px;
			font-weight: bold;
      background: url('~static/images/theme_traditional/tabs_bg_x.png') center top repeat-x;
			margin: 0 12px;
			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: -22px;
				display: inline-block;
				width: 22px;
				height: 24px;
				background: url('~static/images/theme_traditional/tabs_bg_left.png') center top repeat-x;
			}
			&:after {
				left: auto;
				right: -22px;
				background-image: url('~static/images/theme_traditional/tabs_bg_right.png');
			}
			&.is-active {
					z-index: 99 !important;
					background: url('~static/images/theme_traditional/tabs_bg_x_active.png') center top repeat-x;
					&:before {
						background-image: url('~static/images/theme_traditional/tabs_bg_left_active.png');
					}
					&:after {
						background-image: url('~static/images/theme_traditional/tabs_bg_right_active.png');
					}
			}
    }
  }
  .checkbox, .radio {
    + .checkbox, + .radio {
      margin-left: 10px;
    }
  }
}

//-------------- operating
.operating {
  position: relative;
  border: 1px solid #6285ab;
  .operating-header {
    border-color: $border-color;
    background-color: #cbe2f8;
  }

  .operating-content {
    background-color: #fecccb;
  }
}

//-------------- component
// progress
.vxe-cell {
  .progress-bar__inner {
    background: #7dda68;
    transition: width 0.6s ease;
    border: {
      top: 2px solid rgba(255,255,255,.3);
      left: 2px solid rgba(255,255,255,.3);
      right: 1px solid rgba(0,0,0,.3);
      bottom: 1px solid rgba(0,0,0,.3);
    }
  }
}
.progress-bar {
  .progress-bar__inner {
    background: #7dda68;
    transition: width 0.6s ease;
  }
  &.progress-bar__right {
    .progress-bar__inner {
      background: #d87372;
    }
  }
}
.progress-bar.progress-bar__total {
  background-color: #7dda68;
  .progress-bar__inner {
    background-color: #d87372;

  }
}

// button
button {
  font-size: 12px;
  border-radius: 3px;
}
.button {
  &:hover {
    color: #fff;
    border: 1px solid #37659e;
    background: linear-gradient(180deg,#6793c7,#30588b);
  }
}
[class*="el-input-number"] {
  color: $button-font-color;
  background: $button-bg-color;
}
.button__danger {
  color: #700;
  border-color: #e04c50;
  background: linear-gradient(180deg,#f3b9bb,#f76065);
}
.button__success {
  color: #0e680c;
  border-color: #4bdc50;
  background: linear-gradient(180deg,#b4f5b8,#4de353);
}
.button_border__danger {
  color: #700;
  border-color: #e04c50;
}
.button_border__success {
  color: #0e680c;
  border-color: #4bdc50;
}
.bg__danger {
  color: #700;
  background: linear-gradient(180deg,#f3b9bb,#f76065);
}
.bg__success {
  color: #0e680c;
  background: linear-gradient(180deg,#b4f5b8,#4de353);
}

.btn-Kline,
.btn-Chart {
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  font-size: 0;
  color: transparent;
}
.btn-Kline {
  background: url('~static/images/theme_traditional/btn_kline.png');
}
.btn-Chart {
  background: url('~static/images/theme_traditional/btn_chart.png');
}

// form
.label {
  font-size: 12px;
}
.el-input-number .el-input__inner {
  background: #e4e4e4;
}
.numberBtn-box {
  display: inline-block;
}

// table
.vxe-table .vxe-table--header-wrapper, .vxe-table .vxe-table--body-wrapper, .vxe-table .vxe-table--footer-wrapper {
  color: #000;
  background: #f1f1f1;
}
.vxe-header--column {
  color: #fff;
  background: url('~static/images/theme_traditional/table_th_bg.png') #4278af;
}
.vxe-header--column .vxe-cell {
  height: 24px;
}
.vxe-table.size--mini .vxe-header--column:not(.col--ellipsis), .vxe-table.size--mini .vxe-body--column:not(.col--ellipsis), .vxe-table.size--mini .vxe-footer--column:not(.col--ellipsis) {
  padding: 0;
}


//-------------- element
.el-dialog__wrapper {
  .el-table {
    min-height: 360px;
    background: #f1f1f1;
  }
}
.el-dialog__header {
  color: #fff;
  border: 1px solid #104a84;
  background: #295f95;
  background: linear-gradient(to bottom, #5283b6 0%, #295f95 100%);
  .el-dialog__close {
    color: #fff;
  }
  .header-custom i {
    color: #fff;
  }
}
.el-dialog__body {
  padding: 10px;
  border: 1px solid #104a84;
}
.el-pagination {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #578bc1;
}

.el-input__inner {
  border: 1px solid #b7babc;
  border-radius: 0;
}

//-------------- login
.gennki {
  .index {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #131419 url('~static/images/theme_traditional/index_bg.png') center top no-repeat;
  margin: auto;
  .backsite {
    width: 100%;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-weight: 700;
    color: #FFF;
    a {
      color: #00FFF2;
      margin-left: 16px;
    }
  }
  .index-wrap {
    position: relative;
    width: 0;
    margin: 0 auto;
    .button-login {
      position: absolute;
      top: 70px;
      left: -410px;
      width: 130px;
      height: 60px;
      opacity: 0;
    }
  }
}
  .login-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #131419 url('~static/images/theme_traditional/login_bg.png') center top no-repeat;
    .login-wrap_inner {
      position: relative;
      width: 300px;
      margin: 0 auto;
    }
    .login-nav {
      position: absolute;
      top: 15px;
      left: -60px;
      width: 460px;
      line-height: 3;
      a {
        display: inline-block;
        width: 80px;
        text-align: center;
        color: transparent;
        +a {
          margin-left: 46px;
        }
      }
    }
    .login-box {
      position: absolute;
      top: 184px;
      right: -250px;
      width: 266px;
    }
    .login__header {
      display: none;
    }
    .el-form-item {
      width: 100%;
    }
    .el-form-item__label {
      display: none;
    }
    .el-form-item__content {
      width: 100%;
      margin-left: 0 !important;
    }
    .el-input__inner {
      color: #fff;
      height: 31px;
      line-height: 31px;
      background: transparent;
      border-color: transparent;
      &:focus {
        border-color: #002148;
      }
    }
    .el-select:hover .el-input__inner,
    .el-select .el-input.is-focus .el-input__inner {
      border-color: #002148;
    }
    .el-form-item {
      margin-bottom: 13px;
      .el-select__caret {
        display: none;
      }
    }
    .el-form {
      .el-form-item {
        &:nth-child(1) {
          margin-bottom: 23px;
        }
        &:nth-child(2) {
          margin-bottom: 26px;
        }
        &:nth-child(4) {
          .el-checkbox__label {
            color: #fff;
          }
          .el-form-item__content {
            line-height: 1;
            padding-left: 5px;
          }
        }
        &:nth-child(5) {
          position: absolute;
          right: -1px;
          bottom: -16px;
          width: auto;
          .el-button {
            color: transparent;
            background: transparent url('~static/images/theme_traditional/login_button.png');
            border: 0;
            width: 100px;
            height: 31px;
          }
        }
      }
    }
  }
}


//-- rules
.rules {
  background-color: #000;
  body {
    background-color: #000;
  }
  .rules-wrap {
    max-width: 980px;
    margin: 0 auto;
  }
  .rules-header {
    width: 100%;
    height: 419px;
    background: url('~static/images/theme_traditional/rules_banner.png') center no-repeat;
  }
  .rules-body {
    background: #15161b;
    margin-bottom: 20px;
  }
  .rules-item {
    position: relative;
    padding-top: 10px;
    margin-top: 20px;
    .rules-item__title {
      position: absolute;
      top: 2px;
      left: 40px;
      width: 185px;
      height: 44px;
      text-align: center;
      font-size: 20px;
      line-height: 40px;
      letter-spacing: 1px;
      color: #fff;
      background: url('~static/images/theme_traditional/rules_title.png') center no-repeat;
    }
    .rules-item__content {
      max-width: 950px;
      line-height: 1.8;
      background: #efefef;
      border: 1px solid #555658;
      border-radius: 16px;
      padding: 46px 20px 20px;
      margin: 0 auto;
    }
    ul {
      list-style: decimal;
      font-size: 15px;
      padding-left: 10px;
      margin: 10px;
    }
  }
}


//-------------- scrollbar
// scrollbar background
body::-webkit-scrollbar-track {
  border-radius: 0;
  background: #104a84;
}
