// theme
@import 'theme/mobile';

// vendor
@import 'vendor/bootstrap';
@import 'vendor/element';
@import 'vendor/splitpanes';
@import 'vendor/vxetable';

// material icons
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

// layout
@import 'layout/component';

#__nuxt {
  display: block;
}

//-------------- layout
.root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.page {
    height: calc(100% - 55px);
    // border: 1px solid yellow;
}
.main {
    height: calc(100% - 44px);
    // border: 1px solid red;
}


//-------------- header
.header {
    position: relative;
    background-color: $gray-990;
    .header__title, .header__left, .header__right {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__title {
        width: 100%;
        height: 44px;
    }
    .header__left,
    .header__right {
        position: absolute;
        top: 0;
        width: 90px;
        height: 100%;
    }
    .header__left {
        left: 10px;
        justify-content: flex-start;
    }
    .header__right {
        right: 10px;
        justify-content: flex-end;
    }
}

.header-userInfo {
	position: absolute;
	top: 44px;
	right: 0;
	bottom: 55px;
	z-index: 9;
	width: 220px;
	height: 100%;
	background-color: $gray-700;
    transform: translateX(100%);
    transition: transform .3s ease;
	&.isOpen {
		transform: translateX(0);
	}
	.userInfo-list {
		list-style-type: none;
		color: $gray-100;
		padding: 0;
		li {
			padding: 6px 16px;
			+ li {
				border-top: 1px solid $gray-600;
			}
        }
        .label {
            margin-right: 6px;
        }
		.userInfo__button {
			button {
				width: 100%;
			}
		}
	}
}


//-------------- main
.area {
    position: relative;
    overflow: hidden;
    &.h-100 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .area__content {
            width: 80%;
            .el-form-item__label {
                width: 80px;
            }
        }
    }
    .area__header {
        text-align: center;
        color: $--color-text-regular;
        background-color: $gray-600;
        padding: 5px 10px;
        button {
            min-width: 66px;
        }
        .area__title {
            display: inline-block;
            font-size: 1rem;
            margin-right: 10px;
        }
        .el-checkbox {
            margin-bottom: 0;
        }
        .small {
            font-size: 13px;
        }
    }
    .area__content {
        padding: 12px 10px;
    }
    .area-list {
        list-style: none;
        margin: 0;
        padding: 0;
        li, a {
            display: flex;
            align-items: center;
            font-size: 15px;
            color: #fff;
            border-bottom: 1px solid rgba($white, .04);
            padding: 8px 6px 8px 16px;
            .el-icon-arrow-right {
                margin: 0 8px 0 auto;
            }
            &:hover, &:focus {
                background-color: rgba($primary, .1);
            }
        }
    }
    .area-data-list {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            background: rgba($gray-100, .06);
            + li {
                margin-top: 1px;
            }
        }
        .area-data__title {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 26%;
            min-width: 100px;
            text-align: center;
            color: $info;
            background: rgba($gray-900, .6);
            padding: 8px;
            .area-data__date {
                position: absolute;
                top: 50%;
                transform: translateY(58%);
                text-align: center;
                font-size: 12px;
                color: rgba($white, .3);
            }
            &.hasDate {
                position: relative;
                padding-bottom: 10px;
            }
        }
        .area-data__infor {
            padding: 22px 10px;
            .area-data__date {
                position: absolute;
                right: 2px;
                bottom: 2px;
                font-size: 12px;
                color: rgba($white, .3);
            }
        }
    }
    .area-infor__header {
        width: 50%;
        text-align: center;
        background: darken($primary, 36%);
        border-radius: 5px;
        padding: 10px;
        margin: 1rem auto;
    }
    .area-infor-list {
        list-style-type: none;
        width: 80%;
        padding: 0;
        margin: 0 auto;
        li {
            display: flex;
            align-items: center;
            color: $primary;
            background-color: rgba($gray-100, .02);
            padding: 10px 0 10px 10px;
            margin: 10px;
            i {
                color: rgba($gray-100, .1);
                margin: 0 8px 0 0;
            }
            .area-infor__title {
                width: 80px;
                color: #fff;
            }
        }
    }
    .area-switch-list {
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        li {
            font-size: 15px;
            color: #fff;
            padding: 12px;
        }
        .area-switch__title {
            padding: 0 0 6px 12px;
        }
        .area-switch__label {
            margin: 0 auto 0 0;
        }
        .area-switch__content {
            display: flex;
            justify-content: center;
            background-color: rgba($gray-100, .02);
            padding: 10px;
        }
    }
    + table {
        margin-top: 1px;
    }
}
.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li, a {
        display: flex;
        align-items: center;
        color: #fff;
        background-color: rgba($gray-100, .02);
        padding: 10px 0 10px 10px;
        margin: 10px;
        .el-icon-arrow-right {
            margin: 0 8px 0 auto;
        }
        &:hover, &:focus {
            background-color: rgba($primary, .1);
        }
    }
}
.nav-button {
    text-align: center;
    margin: 2rem;
    .logout {
        width: 80%;
    }
}
.modals {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $gray-900;
}

.HistoryPrices {
	.el-form {
		.el-form-item__label {
			text-align: left;
		}
		.el-form-item__content {
			width: 100%;
			.el-select, .el-input {
				width: 100%;
			}
		}
	}
	.el-divider {
		color: #fff;
	}
}

.vxe-header--column .vxe-cell {
    font-weight: normal;
    color: rgba($gray-100, .4);
}


//-------------- footer tabs
#tabs-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: $gray-990;
}
.tabs-list {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    height: 55px;
    .tab-list__item {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        width: 20%;
        font-size: 12px;
        color: $--color-text-placeholder;
        .item__icon {
            font-size: 1.25rem;
        }
        &.current {
            color: $primary;
        }
    }
}


//-------------- login
.login {
    .login-wrap {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
    }
    .login-box {
        width: 100%;
        max-width: 300px;
    }
    .el-form-item__label {
        display: none;
    }
    .el-form-item__content {
        margin-left: 0 !important;
    }
    .el-button {
        width: 100%;
    }
}