#__nuxt {
  display: block;
}

// default
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;

  --font-size-default: 13px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

  --gray-100: #f2f2f2;
  --gray-900: #191a1c;

  --bg-color: var(--white);
  --block-bg-color: var(--gray-100);
}


@import 'vendor/bootstrap';
@import 'vendor/element';
@import 'vendor/splitpanes';
@import 'vendor/vxetable';

// 禁止反白
* {
  user-select:none;
}

// height 100%
.h-100 {
  height: 100%
}

// root
.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: var(--font-size-default);
  background-color: var(--bg-color);
}

// layout
#header, #footer {
  height: 50px;
  background-color: var(--gray-900);
}
#main {
  height: calc(100% - 100px);
  padding: 8px;
}

.userInfo {
  height: 100%;
  .userInfo-header {
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
  }
  .userInfo-content {
    height: calc(100% - 30px);
  }
}

.mainItem {
  height: 100%;
  .mainItem-content {
    height: 100%;
  }
}

:root {
  --itemDetail-header-height: 30px;
  --itemDetail-tabs-height: 30px;
}
.itemDetail {
  position: relative;
  height: 100%;
  overflow: hidden;
  .itemDetail-wrap {
    height: calc(100% - var(--itemDetail-header-height));
  }
  .itemDetail__header {
    height: var(--itemDetail-header-height);
    line-height: var(--itemDetail-header-height);
    padding: 0 8px;
  }
  .itemDetail-tabs {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #d2d2d2;
    .tabs__item {
      flex: 1;
      text-align: center;
      min-width: 80px;
      line-height: var(--itemDetail-tabs-height);
      &.is-active {
        color: var(--primary);
      }
    }
  }
  .itemDetail__content {
    height: calc(100% - var(--itemDetail-tabs-height));
  }
  .itemDetail__Total {
    width: 100%;
    height: 40px;
    background: #f2f2f2;
  }
  .itemDetail__TotalTable {
    height: calc(100% - 40px);
    .vxe-table .vxe-cell {
      padding: 0
    }
  }
}

:root {
  --history-header: 30px;
  --history__content-header: 30px;
}
.history {
  height: 100%;
  .history__header {
    height: var(--history-header);
  }
  .history__content {
    height: calc(100% - var(--history-header));
  }
  .history__content-header{
    height: var(--history__content-header);
  }
  .history__content-body {
    height: calc(100% - var(--history__content-header));
  }
  .history-tabs {
    line-height: 30px;
    .tabs__item {
      padding: 0 8px;
      &.is-active {
        color: var(--primary);
      }
    }
  }
}




// vxe table
.vxe-table table {
  td {
    border: 1px solid transparent;
  }
}

// component
// button
button {
  line-height: 1;
  border: 1px solid #f1f1f1;
  background: white;
  padding: 6px;
}


// text
.text-danger {
  color: var(--danger) !important;
}
.text-success {
  color: var(--success) !important;
}
.text-secondary {
  color: var(--secondary) !important;
}
.text-lg {
  font-size: 1.25rem;
}

// border
.border-danger {
  border-color: var(--danger) !important;
}
.border-success {
  border-color: var(--success) !important;
}

// progress bar
.progress-bar {
  height: 14px;
  background: var(--block-bg-color);
  .progress-bar__inner {
    height: 100%;
    background: var(--success);
    transition: width 0.6s ease;
  }
  &.progress-bar__right {
    direction: rtl;
    .progress-bar__inner {
      background: var(--danger);
    }
  }
}

// tabs
.tabs-nav {
  display: flex;
  .tabs__item {
    flex: none;
    cursor: pointer;
  }
}


// table arrow up / down
.change-icon {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  margin-right: 4px;
  .icon-arrow {
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
  }
  .icon-arrow-up {
    top: -1px;
    border-width: 0 5px 8px 5px;
    border-color: transparent transparent var(--danger) transparent;
  }
  .icon-arrow-down {
    top: 1px;
    border-width: 8px 5px 0 5px;
    border-color: var(--success) transparent transparent transparent;
  }
}

tr.border-tr {
  td {
    border-top: 1px solid var(--primary) !important;
    border-bottom: 1px solid var(--primary) !important;
    &:first-child {
      border-left: 1px solid var(--primary) !important;
    }
    &:last-child {
      border-right: 1px solid var(--primary) !important;
    }
    &:nth-child(3) {
      color: #fff;
      background-color: var(--primary);
    }
  }
}

//- .row
.row {
  align-items: center;
}