@import 'theme/default';

@import 'vendor/bootstrap';
@import 'vendor/element';
@import 'vendor/splitpanes';
@import 'vendor/vxetable';

// animate
$base-duration: .3s;
$use-fadeInDown: true;
@import '~animate-sass/animate';

// layout
@import 'layout/component';
@import 'layout/layout';

@import 'theme/traditional';


#__nuxt {
  display: block;
}