$primary: #409EFF;
$secondary: #909399;
$danger: #F56C6C;
$success: #67C23A;
$infor: #409EFF;

$border-color: #EBEEF5;


$--font-size-base: 12px;
$--checkbox-checked-font-color: #606266;

// Grid columns
$font-size-base: .75rem;
$grid-gutter-width: 8px;
