// $primary: #409EFF;
// $secondary: #909399;
// $danger: #F56C6C;
// $success: #67C23A;
// $infor: #409EFF;

// $header-font-color: #fff;
// $header-font-hover-color: $primary;
// $header-bg-color: #191B1D;
// $footer-font-color: #fff;
// $footer-font-hover-color: $primary;
// $footer-bg-color: #191B1D;

// $border-color: #EBEEF5;
$block-bg: #fff;

$primary: #409EFF;
$secondary: #909399;
$danger: #ff0000;
$success: #007b47;
$infor: #1900a5;

$header-font-color: #000;
$header-font-hover-color: $primary;
$header-bg-color: #fff;
$footer-font-color: #fff;
$footer-font-hover-color: $primary;
$footer-bg-color: #191B1D;

$table-border-color: #cfc9c9;
$border-color: #6285ab;

// bootstrap
$font-size-base: .75rem;
$grid-gutter-width: 8px;

// animate
$base-duration: .3s;
$use-fadeInDown: true;

// element ui
$--font-size-base: 12px;
$--color-text-regular: #000;
$--color-text-placeholder: #606266;

$--checkbox-font-size: 12px;
$--checkbox-font-color: #000;
$--checkbox-checked-font-color: #000;

$--radio-font-size: 12px;
$--radio-checked-font-color: #000;
$--radio-font-color: #000;

// material icons
$material-icons-font-size: 22px !default;
