$white:    #fff !default;
$gray-100: #CED3DB !default;
$gray-200: #586170 !default;
$gray-300: #3C424E !default;
$gray-400: #3C424E !default;
$gray-500: #2F343B !default;
$gray-600: #24282E !default;
$gray-700: #1E2126 !default;
$gray-800: #191B1D !default;
$gray-900: #121315 !default;
$gray-990: #0b0b0c !default;
$black:    #000 !default;


$block-bg: #fff;

$primary: #409EFF;
$secondary: #909399;
$success: #28a745;
$danger: #dc3545;
$infor: #6ae4e5;

$header-font-color: #000;
$header-font-hover-color: $primary;
$header-bg-color: #fff;
$footer-font-color: #fff;
$footer-font-hover-color: $primary;
$footer-bg-color: #191B1D;

$table-border-color: $gray-100;
$border-color: $gray-100;

// bootstrap
$font-size-base: 1rem;
$grid-gutter-width: 8px;

// animate
$base-duration: .3s;
$use-fadeInDown: true;

// element ui
$--color-text-regular: $white;
$--color-text-placeholder: rgba($gray-100, .5);

$--checkbox-font-size: 12px;
$--checkbox-font-color: #fff;
$--checkbox-checked-font-color: #fff;
$--checkbox-background-color: $gray-800;

$--radio-font-size: 12px;
$--radio-checked-font-color: #fff;
$--radio-font-color: #fff;

$--input-background-color: $gray-800;
$--border-color-base: $gray-500;
$--input-hover-border: $primary;
$--input-focus-border: $primary;

$--button-default-font-color: #fff;
$--button-default-background-color: $gray-900;

// material icons
$material-icons-font-size: 22px !default;
