//- 元氣 theme
// color
$blue:      #007bff;
$indigo:    #6610f2;
$purple:    #6f42c1;
$pink:      #e83e8c;
$red:       #ec0202;
$orange:    #fd7e14;
$yellow:    #ffc107;
$green:     #007b47;
$teal:      #20c997;
$cyan:      #17a2b8;
$white:     #fff;
$gray:      #6c757d;
$gray-dark: #343a40;

$gray-100:  #f8f8f9;
$gray-200:  #e9ecef;
$gray-300:  #dee2e6;
$gray-400:  #ced4da;
$gray-500:  #adb5bd;
$gray-600:  #6c757d;
$gray-700:  #495057;
$gray-800:  #343a40;
$gray-900:  #212529;
$black:     #000;


$primary:   $blue;
$secondary: $gray-500;
$success:   $green;
$info:      #31659c;
$warning:   $yellow;
$danger:    $red;
$light:     #f1f1f1;
$dark:      $gray-800;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

// font
$font-size-default: 13px;
$font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

// table
$table-font-color: #000;
$table-font-size: 14px;
$table-font-size-medium: 14px;
$table-font-size-small: 13px;
$table-font-size-mini: 12px;
$table-bg-color: #f1f1f1;
$table-header-bg-color: #f8f8f9;
$table-border-color: #b7babc;
$table-row-current-bg-color: #e6f7ff;
$table-row-hover-bg-color: #f5f7fa;
$table-row-height-default: 48px;
$table-row-height-medium: 44px;
$table-row-height-small: 30px;
$table-row-height-mini: 0px;
$table-row-line-height: 1.4;
$table-cell-padding: 2px 4px;
$table-header-cell-padding: 4px;

// button
$button-font-color: $dark;
$button-border-color: #40628a;
$button-bg-color: linear-gradient(180deg,#fff,#c5daef);
$button-min-width: auto;
$button-padding: 6px 8px;

// theme
$bg-color:    $white;
$block-bg-color: $gray-100;
$border-color: $gray-100;