include component/mixin

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
        
    
    body
        - navbar = "連線"
        include component/head

        main#main.main.container-fluid.d-flex
            .main-left
                #block1.row.scroll
                    include component/_block1
                #block2.row
                    include component/_block2

            .main-right
                    #block3.row
                        include component/_block3

                    #block4.row
                        include component/_block4

                    #block5.row
                        include component/_block5
        footer#footer.bg-dark.text-white
            .row.d-flex.justify-content-between
                .col#news
                    marquee.news__list(onMouseOver="this.stop()" onMouseOut="this.start()")
                        div.news__item 版面D與手機版,新增技術分析版本
                        div.news__item 手機版與桌面版新增可自選顏色功能
                        div.news__item 在報價明細區,新增可自選時間壓力支撐指標
                        div.news__item 新增F G 版面,供黑馬元氣會員下單,B版供RSI DT 會員下單
                        div.news__item 此版為測試帳號,損益不列入計算,此帳號將不定時刪除交易記錄與強平所有倉位!

                .col#today
                        .today__date 2019年10月24日11時57分32秒
                        button.btn-sm 12-伺服器


        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js')
        script(src='js/bootstrap.js')
        script(src='js/jquery.nicescroll.min.js')
        script(src='js/jquery.dataTables.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.js')
        
        
        script.
            var app = new Vue({
                el: "#main",
                data: {},
                mounted: function () {
                    this.contentHeight();
                },
                created: function () {
                    window.addEventListener('resize', this.contentHeight);
                },
                methods: {
                    contentHeight: function() {
                        const windowH = $(window).height();
                        const headerH = $('#header').height();
                        const footerH = $('#footer').height();
                        const mainH = windowH - headerH - footerH;
                        const block1 = $('#block1').height();
                        const block4 = $('#block4').height();
                        const block5 = $('#block5').height();

                        //- main
                        $("#main").css("height", mainH); // main撐起高度, 推開footer

                        //- block2
                        const block2row2 = mainH - block1 - $('.block2 .title').height() -50;
                        $(".block2row2").css("height", block2row2);
                        const block2TableH = block2row2 - $('.block2 .nav-tabs').height();
                        $('#block2-table').css("height", block2TableH);
                        $('#block2-table').slimscroll({height: block2TableH})

                        //- block5
                        const block3TableH = mainH - block4 - block5 -48;
                        $('#block3-table').css("height", block3TableH);
                        $('#block3-table').slimscroll({height: block3TableH})

                        //- block4
                        //- const block4header = $('.block4').height() - $('.block4 .nav-tabs').height() -8;
                        //- const block4table1 = block4header - $('.tabs1-header').height();
                        //- $('.block4 .tabs1-table, .block4 .tabs2-table').css("height", block4table1);
                        //- $('.block4 .tabs1-table, .block4 .tabs2-table').slimscroll({height: block4table1})
                    }
                }
            })
            
