include component/mixin

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
        
        

    body
        header
            nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
                ul.navbar-nav.mr-auto
                    //- - let navbar = "連線"
                    +navbar-item('連線', '#')
                    +navbar-item('檢視', '#')
                    +navbar-item('設定', '#')
                    +navbar-item('說明', '#')
                    li.nav-item
                        span.navbar-text.mr-2.text-white 商品: 壹指早(十月)
                        span.navbar-text.mr-2.text-white 最後交易日: 2019-11-19
                        span.navbar-text.mr-2.text-white 禁新: 
                            span.text-success 10531
                            |, 
                            span.text-danger 12151
                        span.navbar-text.text-white 強平: 
                            span.text-success 10531
                            |, 
                            span.text-danger 12151
                ul.navbar-nav
                    +navbar-item('皮膚', '#')
                    +navbar-item('音效', '#')
                    +navbar-item('登出', '#')

        main.main.container-fluid.d-flex
            .main-left.h-100
                .row.scroll.border.block-1
                    .col
                        table.table.table-bordered
                            thead.thead-dark
                                tr
                                    th(colspan="2") DNAM8(正常收單)
                            tbody
                                tr
                                    td.text-right(width="100") 客戶名稱:
                                    td 8
                                tr
                                    td.text-right 服務人員:
                                    td
                                tr
                                    td.text-right 服務專線:
                                    td
                                tr
                                    td.text-right 預設額度:
                                    td 0
                                tr
                                    td.text-right 今日餘額:
                                    td.text-primary 96,400
                                tr
                                    td.text-right 今日損益:
                                    td 0
                .row.border.block-2
                    .col
                        .row
                            .col
                                .title.pt-2.pl-2 報價明細[臺指早]
                                    button.btn-sm 查詢
                                    +form-check('namecheck1', 'customCheck1', '置底', 'inline', true)
                        .row
                            .col
                                ul.nav.nav-tabs(role='tablist')
                                    +tabs("#tab1a", "五檔揭示")
                                    +tabs("#tab2a", "量價分佈")
                                    +tabs("#tab3a", "分價揭示", 'active')
                                .tab-content
                                    #tab1a.tab-pane.fade ...1
                                    #tab2a.tab-pane.fade ...2
                                    #tab3a.tab-pane.fade.show.active
                                        table#block-2-table.table.table-bordered
                                            thead.thead-dark
                                                tr
                                                    +table-th('市場時間','口','漲跌','價格')
                                            tbody
                                                - for (var x = 0; x < 20; x++)
                                                    tr
                                                        td 13:45:00
                                                        td 1
                                                        td 85
                                                        td 11242
            .main-right.h-100
                    .row.border.h-50.block-3
                        .col
                            table#block-3-table.table.table-bordered
                                thead.thead-dark
                                    tr
                                        +table-th('商品','倉位','K線','走勢','成交','買進','賣出','漲跌','長跌幅','總量','開盤','最高','最低','昨收盤','昨結算','狀態')
                                tbody
                                    - for (var x = 0; x < 12; x++)
                                        tr
                                            td.text-secondary 加權指
                                            td 0
                                            td
                                                a(href="#")
                                                    img(src="images/table_btn_kline.jpg")
                                            td 
                                                a(href="#")
                                                    img(src="images/table_btn_trend.jpg")
                                            td.text-danger 11258
                                            td.text-danger 0
                                            td.text-danger 0
                                            td.text-danger
                                                .arrow.arrow-top
                                                |74
                                            td.text-danger 0.66%
                                            td 3829097
                                            td.text-danger 11221
                                            td.text-danger 11268
                                            td.text-danger 11218
                                            td.text-danger 9959
                                            td.text-danger 11184
                                            td 參考用
                    .row.border.h-25.block-4
                        .col
                            ul.nav.nav-tabs(role='tablist')
                                +tabs("#tab1b", "買賣下單(0)", 'active')
                                +tabs("#tab2b", "未平倉(0)")
                                +tabs("#tab3b", "已平倉")
                                +tabs("#tab4b", "商品統計")
                                +tabs("#tab5b", "對帳表")
                                +tabs("#tab6b", "投顧訊息(0)")
                                +tabs("#tab7b", "自訂窗口")
                            .tab-content
                                #tab1b.tab-pane.fade.show.active
                                    .tabs1-header.d-flex.justify-content-between.p-1
                                        .tabs1-header-left
                                            button.btn-sm 刪單
                                            button.btn-sm 全選
                                            button.btn-sm 全不選
                                        .tabs1-header-right.mt-1
                                            +form-radio('showOrder', 'showOrderRadio1', '全部單據', 'inline', true)
                                            +form-radio('showOrder', 'showOrderRadio2', '為成交單據', 'inline')
                                            +form-check('showOrder', 'showOrderCheck2', '顯示全部商品單據', 'inline', true)
                                            +form-check('showOrder', 'showOrderCheck2', '自動置底', 'inline', true)
                                            
                                    .tabs1-table
                                        table.table.table-bordered
                                            thead.thead-dark
                                                tr
                                                    +table-th('操作','序號','商品','倒','多空','委託價','口數','成交價','下單時間','完成時間','型別','損失點數','獲利點數','狀態')
                                                tr
                                                    - for (var x = 0; x < 14; x++)
                                                        td -
                                #tab2b.tab-pane.fade 參考買賣下單
                                #tab3b.tab-pane.fade 參考買賣下單
                                #tab4b.tab-pane.fade
                                    .tab4-header.d-flex.justify-content-around
                                        .p-2 預設額度:
                                            span.text-lg 0
                                        .p-2 今日損益:
                                            span.text-lg 0
                                        .p-2 留倉預扣:
                                            span.text-lg 0
                                        .p-2 帳戶餘額:
                                            span.text-lg.text-primary 96,400
                                        .p-2: +form-check('showAll', 'showAll2', '顯示全部')
                                    .tabs4-table
                                        table.table.table-bordered
                                            thead.thead-dark
                                                tr
                                                    +table-th('商品名稱','總多','總空','未倉平','總口數','手續費合計','損益','留倉預扣')
                                                tr
                                                    - for (var x = 0; x < 8; x++)
                                                        td -
                                #tab5b.tab-pane.fade
                                    .tab5-header.p-2
                                        .d-flex.justify-content-start
                                            .d-flex.align-items-start
                                                +input-calendar('開始日期:', '2019-10-14')
                                            .pl-1.d-flex.align-items-start
                                                +input-calendar('結束日期:', '2019-10-20')
                                            .pl-1
                                                button.btn.btn-primary 送出
                                            .pl-3 快速查詢:
                                                button.btn-sm 今日
                                                button.btn-sm 昨日
                                                button.btn-sm 本週
                                                button.btn-sm 上週
                                                button.btn-sm 本月
                                    .tabs5-table
                                        table.table.table-bordered
                                            thead.thead-dark
                                                tr
                                                    +table-th('日期','預設額度','帳戶餘額','今日損益','口數','對匯額度','留倉預扣','交收')
                                                - for (var x = 0; x < 8; x++)
                                                    tr
                                                        td 2019-10-14
                                                        td 0
                                                        td 96050
                                                        td 0
                                                        td 0
                                                        td 0
                                                        td 100000
                                                        td.text-lg.text-primary 96,050

                    .row.border.block-5
                        .div 恆生期
                        .div
                            +form-radio('mode', 'modeRadio1', '一般', '', true)
                            +form-radio('mode', 'modeRadio2', '雷電')
                        .div
                            table
                                tr
                                    td
                                    td: +form-radio('order', 'orderRadio1', '市價單', '', true)
                                tr
                                    td: +form-radio('order', 'orderRadio2', '收盤單')
                                    td: +form-radio('order', 'orderRadio3', '限價單')
                        .div
                            table
                                tr: td 停利:
                                        input(type="number")
                                tr: td 停損:
                                        input(type="number")
                        .div
                            table
                                tr: td
                                    - var n = 1;
                                        while n <= 5
                                            button.btn-sm= n++
                                tr: td 口數:
                                        input(type="number")
                                tr: td
                                    button.btn-sm 編輯
                                    button.btn-sm 還原
                        .div
                            table
                                tr
                                    td: button.btn-lg.btn-danger 下多單
                                    td: button.btn-sm 全平
                                    td: button.btn-lg.btn-success 下空單
                        .div
                            +form-check('block5Check', 'block5Check1', '(恆生期)全盤收平')
                            +form-check('block5Check', 'block5Check2', '下單不確認', '', true)
                            +form-check('block5Check', 'block5Check3', '限價成交提示')


        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='js/bootstrap.js')
        script(src='js/jquery.nicescroll.min.js')
        script(src='js/jquery.dataTables.min.js')
        
        script.
            $(".scroll").niceScroll({
                cursorcolor: "#eee",
                cursorborder: "0",
                autohidemode: false
            });
            $('#block-2-table').DataTable( {
                scrollY: 800,
                scrollCollapse: true,
                paging: false,
                searching: false,
                ordering: false,
                info: false
            } );
            $('#block-3-table').DataTable( {
                scrollY: 800,
                ordering: false,
                paging: false,
                searching: false,
                info: false
            } );