include component/mixin

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
        link(rel="stylesheet", href="css/style.css")

        
    
    body
        #app.h-100
            - navbar = "連線"
            include component/head

            main#main.container-fluid.d-flex(ref="main", :style="mainStyles")
                .main-left
                    #block1.row.scroll(ref="block1")
                        include component/block1
                    #block2.row(ref="block2")
                        include component/block2

                .main-right
                    #block3.row(ref="block3")
                        include component/block3

                    #block4.row(ref="block4")
                        include component/block4

                    #block5.row(ref="block5")
                        include component/block5
            
            include component/foot


        