// text
.text-infor {
    color: $infor;
}
.text-up, .text-danger {
    color: $danger;
}
.text-down, .text-success {
    color: $success;
}
.text-secondary {
    color: $secondary;
}
.text-lg {
    font-size: 1.25rem;
}
.bg-colr-warring {
    background-color: #fff8b6;
}

$weight: bold;
@each $author in $weight {
    .text-#{$author} {
        font-weight: #{$author};
    }
}

$align: center right left;
@each $author in $align {
    .text-#{$author} {
        text-align: #{$author};
    }
}


.label {
    font-size: 12px;
    margin: 0 4px 0.5rem 0;
}

// border
.border {
    &.border-up .cell {
        border-color: $danger;
    }
    &.border-down .cell {
        border-color: $success;
    }
}
tr.border-tr {
    td {
        border-top: 1px solid $primary;
        border-bottom-color: $primary;
        &:first-child {
            border-left: 1px solid $primary;
        }
        &:last-child {
            border-right: 1px solid $primary;
        }
        &:nth-child(3) {
            color: #fff;
            background-color: $primary;
        }
    }
    &:hover {
        td:nth-child(3) {
            color: #fff;
            background-color: $infor;
        }
    }
}

// table
.el-table {
    .el-button {
        padding: 4px 8px;
    }
}
// 移除左右 border
.el-table, .el-table--border {
    border-left: 0;
    border-right: 0;
    th, td {
        &:first-child {
            border-left: 0;
        }
        &:last-child {
            border-right: 0;
        }
    }
}
.el-table--border::after, .el-table--group::after, .el-table::before {
    height: 0;
}
.el-table__fixed::before, .el-table__fixed-right::before {
    display: none;
}
// table arrow up / down
.table-icon {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    margin-right: 2px;
    .icon-arrow {
        position: relative;
        width: 0;
        height: 0;
        border-style: solid;
    }
    .icon-arrow-up {
        top: -1px;
        border-width: 0 5px 8px 5px;
        border-color: transparent transparent $danger transparent;
    }
    .icon-arrow-down {
        top: 1px;
        border-width: 8px 5px 0 5px;
        border-color: $success transparent transparent transparent;
    }
}


.blink {
    animation: blink .8s linear infinite;
}
@keyframes blink {
    0% { color: red; }
    50% { color: red; }
    50.01% { color: black; }
    100% { color: black; }
}