* {
    user-select:none;
}
p {
    margin-bottom: 8px;
}

//-------------- header
.header, .main, .footer {
    margin-right: -4px;
    margin-left: -4px;
}
.header {
    color: $header-font-color;
    background-color: $header-bg-color;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    a {
        color: $header-font-color;
        text-decoration: none;
        &:hover {
            color: $header-font-hover-color
        }
    }
    .navbar {
        display: flex;
        justify-content: space-between;
    }
    .navbar-nav {
        display: inline-flex;
        align-content: center;
        justify-content: center;
        .nav-item {
            .nav-link{
                display: block;
                line-height: 50px;
                color: $header-font-color;
                padding: 0 6px;
            }
            &:hover {
                .nav-link {
                    color: $header-font-hover-color;
                }
                .dropdown-menu {
                    display: block;
                }
            }
        }
        .dropdown-menu {
            @extend .animated;
            @extend .fadeInDown;
            display: none;
            position: absolute;
            z-index: 999;
            background-color: lighten($header-bg-color, 10%);
            > a {
                display: block;
                padding: .5rem 1rem;
            }
        }
        .nav-item-text {
            display: flex;
            align-self: center;
        }
        .navbar-txt {
            display: inline-block;
            + .navbar-txt {
                margin-left: 1rem;
            }
        }
    }
}

//-------------- footer
.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    z-index: 5;
    color: #fff;
    background-color: #191B1D;
    #news {
        marquee {
            line-height: 28px;
        }
        .news__item {
            display: inline-block;
            color: $footer-font-color;
            margin-right: 10%;
            &:hover {
                color: $footer-font-hover-color
            }
        }
    }
    #today {
        text-align: right;
        padding-right: 10px;
        .el-button {
            margin-left: 10px;
        }
    }
}

//-------------- main
.main {
    display: flex;
    padding: 10px;
}
.main-left {
    width: 280px;
}
.main-right {
    width: calc(100% - 280px);
    padding-left: 10px;
}

//-------------- userInfo
#userInfo {
    padding-bottom: 10px;
}
.userInfo {
    background-color: $block-bg;
    border: 1px solid $border-color;
    .userInfo-header {
        background-color: #F5F7FA;
        border-bottom: 1px solid $border-color;
        padding: 4px 10px;
    }
}
.userInfor__content {
    padding: 4px 10px 10px 10px;
    .el-table {
        border: 1px solid #b7babc;
    }
}

//-------------- itemDetail
.itemDetail {
    background-color: $block-bg;
    border: 1px solid $border-color;
    .itemDetail-header {
        height: 38px;
        border-bottom: 1px solid $table-border-color;
        padding: 4px 10px;
        .header__title {
            display: inline-block;
            line-height: 2;
        }
        .el-button {
            margin: 0 10px;
        }
    }
    .el-tabs {
        position: relative;
    }
    .el-tabs__header {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: #fff;
        border-bottom: 1px solid $border-color;
        .el-tabs__nav-wrap {
            margin-bottom: 0;
        }
        .el-tabs__item {
            padding: 0 10px;
        }
    }
    .el-progress-bar__inner {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .itemDetailTab1table {
        .el-table__body {
            width: auto !important;
            margin-right: 1px;
        }
        .el-table__body td {
            &:first-child .cell,
            &:last-child .cell {
                padding-right: 0;
                padding-left: 0;
            }
            &:first-child {
                .el-progress-bar__inner {
                    left: auto;
                    right: 0;
                }
            }
            .el-progress-bar__outer,
            .el-progress-bar__inner {
                border-radius: 0;
            }
        }
    }
    .itemDetailTab2table {
        .el-table__body td {
            &:nth-child(3) .cell {
                padding-right: 0;
                padding-left: 0;
            }
            .el-progress-bar__outer,
            .el-progress-bar__inner {
                border-radius: 0;
            }
        }
    }
    .itemDetailTabTotal {
        width: 100%;
        background: #f5f7fa;
        border-bottom: 1px solid $table-border-color;
        .row {
            align-items: center;
            padding: 6px 10px;
            &:first-child {
                justify-content: space-around;
                border-top: 1px solid $table-border-color;
                border-bottom: 1px solid $table-border-color;
            }
            .col {
                text-align: center;
            }
            .progress-bar {
                padding: 0;
            }
        }
        .el-progress-bar__outer {
            background-color: #67C23A;
        }
    }
}

.itemDetailtabs__header {
    padding: 10px 12px 4px 12px;
}
.itemDetailtabs__content {
    padding: 4px 10px 10px 10px;
}
.itemDetai__history {
    .itemDetailtabs__header {
        .row + .row {
            margin-top: 4px;
        }
    }
    .itemDetailtabs__content {
        .table {
            border-left: 1px solid $table-border-color;
            border-right: 1px solid $table-border-color;
        }
    }
}

//-------------- mainItem
.mainItem {
    background-color: $block-bg;
    border: 1px solid $border-color;
}

//-------------- history
#history {
	padding-bottom: 10px;
}
.history {
	border-bottom: 1px solid $border-color;
	background-color: $block-bg;
	overflow: hidden;
    .history-wrap {
        height: 100%;
        border: 1px solid $border-color;
    }
    .el-tabs__header {
        padding: 2px 2px 0 2px;
        margin-bottom: 0;
    }
    .history-tabs-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 40px;
        padding: 4px 10px;
        .el-form-item__label,
        .el-checkbox {
            margin-bottom: 0;
        }
    }
}

//-------------- operating
.operating {
    display: flex;
    align-items: stretch;
    background-color: $block-bg;
    border: 1px solid $border-color;
    position: relative;
    .el-form-item__label {
        margin-bottom: 0;
    }
    .operating-header {
        display: flex;
        align-items: center;
        background-color: #F5F7FA;
        border-right: 1px solid $table-border-color;
        padding: 4px 10px;
        .header__title {
            width: 1rem;
        }
        .header__mode {
            display: flex;
            flex-flow: column;
            padding-left: .5rem;
            .el-radio {
                margin-right: 0;
                + .el-radio {
                    margin-bottom: 0;
                }
            }
        }
    }
    .operating-content {
        display: flex;
        align-items: center;
        width: 100%;
        overflow-x: auto;
        padding: 4px 10px;
        [class*="operating-"] {
            flex: 0 0 auto;
            + [class*="operating-"] {
                margin-left: 0.5rem;
            }
        }
        .el-radio {
            margin-right: 7px;
        }
        .el-button-group {
            display: flex;
        }
        .numberbtn, .editbtn {
            .el-button-group > .el-button {
                flex: 1;
                padding: 7px;
            }
        }
        .operating-5 {
            .el-checkbox-group {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
.numberBtn-box {
    float: left;
    width: 20%;
    .el-input-number--mini {
        width: 100% !important;
    }
    .el-input-number.is-controls-right .el-input__inner {
        padding-left: 6px;
        padding-right: 36px;
    }
}


//-------------- dialog
.dialog__body {
    overflow: hidden;
    padding: 0 10px;
    margin: 10px auto;
    .el-form-item {
        margin-bottom: 2px;
    }
    .rules-list {
        font-size: 12px;
        padding: 1rem 0 1rem 80px;
    }
    span {
        + span {
            margin-left: 10px;
        }
    }
}
.dialog__footer {
    text-align: center;
    background: #f1f1f1;
    padding: 6px;
}


//-------------- scrollbar
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
// scrollbar bar
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0,0,0,0.2);
}
// scrollbar background
::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(0,0,0,0.01);
}