// 禁止反白
* {
  user-select:none;
}

// root
.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: $font-size-default;
  background-color: $bg-color;
}

.pl-15 {
  padding-left: 15px;
}

// layout
#main {
  height: calc(100% - 100px);
  padding: 8px;
}

//-------------- header
.header {
  ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }
  .navbar {
      display: flex;
      justify-content: space-between;
  }
  .dropdown-menu {
    @extend .animated;
    @extend .fadeInDown;
    display: none;
    position: absolute;
    z-index: 999;
    .dropdown-item {
        display: block;
        padding: .5rem 1rem;
    }
  }
  .navbar-nav {
      display: inline-flex;
      align-content: center;
      justify-content: center;
      .nav-item {
          .nav-link{
              display: block;
              line-height: 50px;
              padding: 0 6px;
          }
          &:hover {
              .dropdown-menu {
                  display: block;
              }
          }
      }
      .nav-item-text {
          display: flex;
          align-self: center;
      }
      .navbar-txt {
          display: inline-block;
          + .navbar-txt {
              margin-left: 1rem;
          }
      }
  }
}

//-------------- footer
.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  z-index: 5;
  color: #fff;
  background-color: #191B1D;
  .row {
    width: 100%;
  }
  #news {
      width: calc(100% - 300px);
      marquee {
          line-height: 28px;
      }
      .news__item {
          display: inline-block;
          margin-right: 10%;
      }
  }
  #today {
      text-align: right;
      padding: 0 10px;
      .el-button {
          margin-left: 10px;
      }
  }
}


.userInfo {
  height: 100%;
  .userInfo-header {
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
  }
  .userInfo-content {
    height: calc(100% - 30px);
  }
}

.mainItem {
  height: 100%;
  .mainItem-content {
    height: 100%;
  }
  table td {
    font-size: 13px;
  }
}


:root {
  --itemDetail-header-height: 30px;
  --itemDetail-tabs-height: 30px;
}
.itemDetail {
  position: relative;
  height: 100%;
  overflow: hidden;
  .itemDetail-wrap {
    height: calc(100% - var(--itemDetail-header-height));
  }
  .itemDetail-header {
    height: var(--itemDetail-header-height);
    line-height: var(--itemDetail-header-height);
    padding: 0 8px;
  }
  .itemDetail-content {
    height: calc(100% - var(--itemDetail-tabs-height));
  }
  .itemDetail-tabs {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    .tabs__item {
      flex: 1;
      text-align: center;
      min-width: 80px;
      line-height: var(--itemDetail-tabs-height);
    }
  }
  .itemDetail__Total {
    width: 100%;
    height: 40px;
    text-align: center;
    background: #f2f2f2;
    .row + .row {
      border-top: 1px solid $table-border-color;
    }
  }
  .itemDetail__TotalTable {
    height: calc(100% - 40px);
    .vxe-table .vxe-cell {
      padding: 4px 0
    }
  }
}



:root {
  --history-header: 30px;
  --history-content__body: 30px;
}
.history {
  height: 100%;
  .history-header {
    height: var(--history-header);
  }
  .history-content {
    height: calc(100% - var(--history-header));
  }
  .history-content__header{
    display: flex;
    align-items: center;
    padding: 0 4px;
    overflow: auto;
    white-space: nowrap;
    button + button {
      margin-left: 4px;
    }
    .el-form + .label {
      margin-left: 6px;
    }
  }
  .history-tabs {
    line-height: 30px;
  }
}

//-------------- operating
.operating {
  display: flex;
  height: 100%;
  background-color: $block-bg-color;
  border: 1px solid $border-color;
  .operating-header {
    flex: 1 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F7FA;
    border-right: 1px solid $border-color;
    .header__title {
      width: 1rem;
    }
    .header__mode {
      padding-left: 6px;
    }
  }
  .operating-content {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    padding: 4px 10px;
  }
  [class*="operating-"] {
    + [class*="operating-"] {
        padding-left: 0.5rem;
    }
  }
  .operating-1 {
    .row {
      flex-direction: column;
    }
  }
  .operating-4 {
    white-space: nowrap;
    button + button {
      margin-left: 2px;
    }
    .button__lg {
      font-family: $font-family-sans-serif;
    }
  }
  .numberbtn {
    .el-form {
      display: flex;
      button {
        flex: 1;
      }
      button + button {
        margin-left: 0;
      }
    }
  }
  .editbtn {
    display: flex;
    button {
      flex: 1;
    }
  }
  .el-input-number {
    width: 90px;
  }
}

.rules-list {
  font-size: 12px;
}