.col.block2.border
    .row
        .col
            .title 報價明細[臺指早]
                button.btn-sm 查詢
                +form-check('namecheck1', 'customCheck1', '置底', 'inline', true)
    .row.block2row2
        .col
            ul.nav.nav-tabs(role='tablist')
                +tabs("#tab1a", "五檔揭示")
                +tabs("#tab2a", "量價分佈")
                +tabs("#tab3a", "分價揭示", 'active')
            .tab-content
                #tab1a.tab-pane.fade ...1
                #tab2a.tab-pane.fade ...2
                #tab3a.tab-pane.fade.show.active
                    #block2-table.table-container
                        table.table.table-bordered
                            thead.thead-dark
                                +table-th('市場時間','口','漲跌','價格')
                            tbody
                                tr
                                    td 13:45:00
                                    td 1
                                    td.text-success
                                        .fas.fa-caret-down: |  85
                                    td.text-success 11242
                                - for (var x = 0; x < 1; x++)
                                    tr
                                        td 13:45:00
                                        td 1
                                        td.text-danger
                                            .fas.fa-caret-up: |  85
                                        td.text-danger 11242