.col.block.block5
    .block5row.row.flex-nowrap
        .block5col.block5-1
            .productName 恆生期
            .modeSelect
                +form-radio('mode', 'modeRadio1', '一般', '', true)
                +form-radio('mode', 'modeRadio2', '雷電')

        .block5col.block5-2
            table
                tr
                    td
                    td: +form-radio('order', 'orderRadio1', '市價單', '', true)
                tr
                    td: +form-radio('order', 'orderRadio2', '收盤單')
                    td: +form-radio('order', 'orderRadio3', '限價單')

        .block5col.block5-3
            .row
                +form-input('停利:', 'number', '1')
                +form-input('停損:', 'number', '1')


        .block5col.block5-4
            table
                tr: td.numberBtn
                    .btn-group
                        - var n = 1;
                            while n <= 5
                                button.btn.btn-light.btn-sm= n++
                tr: td 
                        +form-input('口數:', 'number', '1')
                tr: td.editBtn
                    .btn-group
                        button.btn.btn-light.btn-sm 編輯
                        button.btn.btn-light.btn-sm 還原

        .block5col.block5-5
            table
                tr
                    td: button.btn-lg.btn-danger 下多單
                    td: button.btn-sm(disabled) 全平
                    td: button.btn-lg.btn-success 下空單

        .block5col.block5-6
            +form-check('block5Check', 'block5Check1', '(恆生期)全盤收平')
            +form-check('block5Check', 'block5Check2', '下單不確認', '', true)
            +form-check('block5Check', 'block5Check3', '限價成交提示')