.col.block.block3
    .block3-table
        table(data-toggle='table', :data-height= 'block3Table')
            thead.thead-light
                +table-th('商品','倉位','K線','走勢','成交','買進','賣出','漲跌','長跌幅','總量','開盤','最高','最低','昨收盤','昨結算','狀態')
            tbody
                - for (var x = 0; x < 26; x++)
                    tr
                        td.text-nowrap.text-secondary 加權指
                        td 0
                        td
                            a(href="#")
                                img(src="images/table_btn_kline.jpg")
                        td 
                            a(href="#")
                                img(src="images/table_btn_trend.jpg")
                        td.text-danger 11258
                        td.text-danger 0
                        td.text-danger 0
                        td.text-danger
                            .arrow.arrow-top
                            |74
                        td.text-danger 0.66%
                        td 3829097
                        td.text-danger 11221
                        td.text-danger 11268
                        td.text-danger 11218
                        td.text-danger 9959
                        td.text-danger 11184
                        td.text-nowrap 參考用