.col.block.block1
    table.table.table-bordered
        thead.thead-light
            tr
                th(colspan="2") DNAM8(正常收單)
        tbody
            tr
                td.text-right(width="100") 客戶名稱:
                td 8
            tr
                td.text-right 服務人員:
                td
            tr
                td.text-right 服務專線:
                td
            tr
                td.text-right 預設額度:
                td 0
            tr
                td.text-right 今日餘額:
                td.text-primary 96,400
            tr
                td.text-right 今日損益:
                td 0