.col.block4.border
    ul.nav.nav-tabs.d-flex.align-items-end(role='tablist')
        +tabs("#tab1b", "買賣下單(0)", 'active')
        +tabs("#tab2b", "未平倉(0)")
        +tabs("#tab3b", "已平倉")
        +tabs("#tab4b", "商品統計")
        +tabs("#tab5b", "對帳表")
        +tabs("#tab6b", "投顧訊息(0)")
        +tabs("#tab7b", "自訂窗口")
    .tab-content
        #tab1b.tab-pane.fade.show.active
            .tabs1-header.d-flex.justify-content-between.p-1
                .tabs1-header-left
                    button.btn-sm 刪單
                    button.btn-sm 全選
                    button.btn-sm 全不選
                .tabs1-header-right.mt-1
                    +form-radio('showOrder', 'showOrderRadio1', '全部單據', 'inline', true)
                    +form-radio('showOrder', 'showOrderRadio2', '為成交單據', 'inline')
                    +form-check('showOrder', 'showOrderCheck2', '顯示全部商品單據', 'inline', true)
                    +form-check('showOrder', 'showOrderCheck2', '自動置底', 'inline', true)
            .tabs1-content
                .tabs1-table
                    table(data-toggle='table', data-height= '183')
                        thead.thead-light
                            +table-th('操作','序號','商品','倒','多空','委託價','口數','成交價','下單時間','完成時間','型別','損失點數','獲利點數','狀態')
                        tbody
                            - for (var x = 0; x < 14; x++)
                                tr
                                    td -
                                    td -
                                    td -
                                    td -
                                    td -
                                    td -
                                    td -
                                    td -
                                    td -
                                    td -
                                    td -
                                    td -
                                    td -
                                    td -
        #tab2b.tab-pane.fade
            .tabs2-header.d-flex.justify-content-between.p-1
                .tabs1-header-left
                    button.btn-sm 市價平倉
                    button.btn-sm 設定損利點
                    button.btn-sm 全選
                    button.btn-sm 全不選
            .tabs2-content
                .tabs2-table
                    table(data-toggle='table', data-height= '183')
                        mixin table
                            thead.thead-light
                                +table-th('table')
                            tbody
                                - for (var x = 0; x < 14; x++)
                                    tr
                                        td -
                        +table
        #tab3b.tab-pane.fade
            .tabs3-header
            .tabs3-content
                .tabs3-table
                    table(data-toggle='table', data-height= '219')
                        +table
        #tab4b.tab-pane.fade
            .tab4-header.d-flex.justify-content-around
                .p-2 預設額度:
                    span.text-lg 0
                .p-2 今日損益:
                    span.text-lg 0
                .p-2 留倉預扣:
                    span.text-lg 0
                .p-2 帳戶餘額:
                    span.text-lg.text-primary 96,400
                .p-2.d-flex.align-items-center: +form-check('showAll', 'showAll2', '顯示全部')
            .tabs4-content
                .tabs4-table
                    table(data-toggle='table', data-height= '176')
                        thead.thead-light
                            +table-th('商品名稱','總多','總空','未倉平','總口數','手續費合計','損益','留倉預扣')
                        tbody
                            - for (var x = 0; x < 14; x++)
                                tr
                                    td -
        #tab5b.tab-pane.fade
            .tab5-header.p-2
                .d-flex.justify-content-start
                    .d-flex.align-items-start
                        +input-calendar('開始日期:', '2019-10-14')
                    .pl-1.d-flex.align-items-start
                        +input-calendar('結束日期:', '2019-10-20')
                    .pl-1
                        button.btn.btn-primary 送出
                    .pl-3 快速查詢:
                        button.btn-sm 今日
                        button.btn-sm 昨日
                        button.btn-sm 本週
                        button.btn-sm 上週
                        button.btn-sm 本月
            .tabs5-content
                .tabs5-table
                    table(data-toggle='table', data-height= '169')
                        thead.thead-light
                            +table-th('日期','預設額度','帳戶餘額','今日損益','口數','對匯額度','留倉預扣','交收')
                        tbody
                            - for (var x = 0; x < 8; x++)
                                tr
                                    td 2019-10-14
                                    td 0
                                    td 96050
                                    td 0
                                    td 0
                                    td 0
                                    td 100000
                                    td.text-lg.text-primary 96,050