footer#footer.mt-auto
    .row
        .col.cos-wrap.box-wrap.ml-2 1
        .col.news-wrap
            .row
                .news__title.text-center 最新消息
                .col
                    marquee(onMouseOver="this.stop()" onMouseOut="this.start()").news__list
                        span 版面D與手機版,新增技術分析版本
                        span 手機版與桌面版新增可自選顏色功能
                        span 在報價明細區,新增可自選時間壓力支撐指標
                        span 新增F G 版面,供黑馬元氣會員下單,B版供RSI DT 會員下單
                        span 此版為測試帳號,損益不列入計算,此帳號將不定時刪除交易記錄與強平所有倉位!

script(src='js/vendor.js')

block footer