$font-color: $white;
$font-color-hover: $yellow;

body {
    background-color: $dark;
}
#header {
    background-color: $gray-900;
    a.nav-link {
        color: $font-color;
        &:hover {
            color: $font-color-hover;
        }
    }
    .navbar-text {
        color: $font-color;
    }
}
#main {
    background-color: #fff;
}
#footer {
    color: $font-color;
    a {
        color: $font-color;
        &:hover {
            color: $font-color-hover;
        }
    }
}