.rd-navbar-classic.rd-navbar-static .rd-navbar-megamenu {
  min-width: 160px !important;
}
.image-group-2 img:nth-child(odd) {
  max-width: 100% !important;
}

.quote-classic__text {
  font: normal 300 14px/22px "Titillium Web", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
  letter-spacing: .05em;
  margin-top: 2rem;
}