.rd-navbar-classic.rd-navbar-static .rd-navbar-megamenu {
  min-width: 160px !important;
}
.image-group-2 img:nth-child(odd) {
  max-width: 100% !important;
}

.quote-classic__text {
  font-weight: normal !important;
  font: normal 300 14px/26px "Microsoft JhengHei","Open Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  letter-spacing: .05em;
  margin-top: 2rem;
}
.image-group-2 img+img {
  margin-top: -56% !important;
}
.browser-logo img {
  height: 80px;
}

.form-button + .form-button {
  margin-left: 10px;
}

.rd-navbar-transparent {
  background-color: rgba(0,0,0,.3);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family:  "Microsoft JhengHei","Open Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

.rd-navbar-classic.rd-navbar-static .rd-navbar-main {
  padding: 0 35px !important;
}

.rd-navbar-fixed .rd-navbar-panel {
  background-color: #0c1523 !important;
}
html, body, .preloader {
  background: #0c1523 !important;
}

.modal-content {
  background-color: #263047 !important;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.65) !important;
  h1, h2, h3, h4, h5, h6, [class^=heading-] {
    color: #fff;
  }
}

.modal.login {
  .modal-dialog {
    max-width: 320px !important;
  }
}
@media (min-width: 1200px) {
  .modal-login-register .modal-content {
    padding-top: 45px !important;
  }
}
.modal-form {
  color: #fff;
  display: flex;
  flex-flow: column;
  .form-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 14px !important;
    .form-input-label {
      display: block;
      width: 50px;
    }
    input {
      color: #fff;
      transition: box-shadow .2s;
      background: #20293e;
      box-shadow: inset 0 2px 2px 0 rgba(0,0,0,.075), inset 0 0 0 1px rgba(37,158,250,0);
      border-radius: 3px;
      border: 0;
      padding: 6px 10px;
      &.form-input2 {
        width: 100%;
      }
    }
    .form-select {
      position: relative;
      width: 100%;
      height: 34px;
      .icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-8px);
      }
      select {
        width: 100%;
        height: 100%;
        background: #1f293d;
        color: #fff;
        border: 0;
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
        border-radius: 3px;
        padding: 6px 10px;
      }
    }
    button {
      width: 100%;
      background-color: #e3a432;
      border: 0;
      color: #fff;
      padding: 6px;
      cursor: pointer;
      &:hover {
        background-color: #c98c1d;
      }
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #6c6f7a;
      opacity: 1; /* Firefox */
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #6c6f7a;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
      color: #6c6f7a;
    }
  }
}