.rd-navbar-classic.rd-navbar-static .rd-navbar-megamenu {
  min-width: 160px !important;
}
.image-group-2 img:nth-child(odd) {
  max-width: 100% !important;
}

.quote-classic__text {
  font-weight: normal !important;
  font: normal 300 14px/26px "Microsoft JhengHei","Open Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  letter-spacing: .05em;
  margin-top: 2rem;
}
.image-group-2 img+img {
  margin-top: -56% !important;
}
.browser-logo img {
  height: 80px;
}

.form-button + .form-button {
  margin-left: 10px;
}

.rd-navbar-transparent {
  background-color: rgba(0,0,0,.3);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family:  "Microsoft JhengHei","Open Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

.rd-navbar-classic.rd-navbar-static .rd-navbar-main {
  padding: 0 35px !important;
}

.rd-navbar-fixed .rd-navbar-panel {
  background-color: #0c1523 !important;
}
html, body, .preloader {
  background: #0c1523 !important;
}